force-app/main/default/flows/Add_Person_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Account_Ids</name>
        <label>Account Ids</label>
        <locationX>529</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>listAccount_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>931</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>socvCampaignMemebers_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovCampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Add_to_Collection_Unique</name>
        <label>Add to Collection</label>
        <locationX>304</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>socvCampaignMemebers_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovCampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Unique_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Campaign_Member_Values</name>
        <label>Campaign Member Values</label>
        <locationX>1071</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>sovCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCampaign_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovCampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Campaign_Member_Values_Unique</name>
        <label>Campaign Member Values</label>
        <locationX>447</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>sovCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCampaign_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovCampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Unique_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Add_to_Collection_Unique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Contacts_to_List</name>
        <label>Contacts to List</label>
        <locationX>1157</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>listContact_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Contacts_to_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Contacts_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Dedupe_Contact_IDs</name>
        <label>Dedupe Contact IDs</label>
        <locationX>673</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>listContact_IDs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>listCampaignMemeber_Contact_IDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountUnique_Contact_IDs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>listContact_IDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listUniqueContact_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>listContact_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Unique_Contact_IDs_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Member_List</name>
        <label>Campaign Member List</label>
        <locationX>832</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>listCampaignMemeber_Contact_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Campaign_Members.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constCampaign_External_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FINS_Campaign.001</stringValue>
        </value>
    </constants>
    <decisions>
        <name>assign_Unique_Contact_IDs_Found</name>
        <label>Unique Contact IDs Found</label>
        <locationX>521</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>screen_No_Contacts1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Found_Unique_Contact_IDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountUnique_Contact_IDs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Unique_Contacts</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Members_Found</name>
        <label>Campaign Members Found</label>
        <locationX>992</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>loop_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Found_Campaign_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Campaign_Members</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Accounts_Exist</name>
        <label>Accounts Exist</label>
        <locationX>368</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>screen_No_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referenceRecordIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Campaign_Found</name>
        <label>Campaign Found</label>
        <locationX>984</locationX>
        <locationY>193</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCampaign_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Contacts_to_List</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>No_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCampaign_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_No_Campaign</targetReference>
            </connector>
            <label>No Campaign</label>
        </rules>
        <rules>
            <name>No_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_No_Contacts</targetReference>
            </connector>
            <label>No Contacts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add Person to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add to Campaign</label>
    <loops>
        <name>loop_Accounts</name>
        <label>Accounts</label>
        <locationX>529</locationX>
        <locationY>192</locationY>
        <collectionReference>referenceRecordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Campaign_Members</name>
        <label>Campaign Members</label>
        <locationX>833</locationX>
        <locationY>412</locationY>
        <collectionReference>get_Campaign_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Campaign_Member_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Dedupe_Contact_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Contacts</name>
        <label>Contacts</label>
        <locationX>1003</locationX>
        <locationY>566</locationY>
        <collectionReference>get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Campaign_Member_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Campaign_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Contacts_to_List</name>
        <label>Contacts to List</label>
        <locationX>1159</locationX>
        <locationY>191</locationY>
        <collectionReference>get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Contacts_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Campaign_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Unique_Contacts</name>
        <label>Contacts</label>
        <locationX>374</locationX>
        <locationY>415</locationY>
        <collectionReference>listUniqueContact_IDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Campaign_Member_Values_Unique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Campaign_Members_Unique</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Campaign_Members</name>
        <label>Campaign Members</label>
        <locationX>1164</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>screen_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>socvCampaignMemebers_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Campaign_Members_Unique</name>
        <label>Campaign Members</label>
        <locationX>205</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>screen_Results1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>socvCampaignMemebers_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Campaign</name>
        <label>Campaign</label>
        <locationX>835</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Campaign_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>constCampaign_External_ID</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varCampaign_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Campaign_Member</name>
        <label>Campaign Member</label>
        <locationX>1161</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Members_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaign_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>listContact_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contacts</name>
        <label>Contacts</label>
        <locationX>684</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>listAccount_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>741</locationX>
        <locationY>730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error</label>
        <locationX>750</locationX>
        <locationY>42</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_Error_Message1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_No_Accounts</name>
        <label>No Accounts</label>
        <locationX>205</locationX>
        <locationY>194</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_No_Accounts_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No Accounts were found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_No_Campaign</name>
        <label>No Campaign</label>
        <locationX>1074</locationX>
        <locationY>37</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_No_Campaign_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Campaign with such external Id does not exist in the system. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;ExternalID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!constCampaign_External_ID}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_No_Contacts</name>
        <label>No Contacts</label>
        <locationX>915</locationX>
        <locationY>36</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_No_Contacts_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No Contact for these Accounts were found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_No_Contacts1</name>
        <label>No Contacts</label>
        <locationX>530</locationX>
        <locationY>728</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_No_Contacts_Text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;All Contacts are already Campaign Members to this Campaign. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Results</name>
        <label>Results</label>
        <locationX>1164</locationX>
        <locationY>729</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_No_Contacts_Text3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Contacts were successfully added to Campaign as Campaign Members.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Results1</name>
        <label>Results</label>
        <locationX>205</locationX>
        <locationY>729</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_No_Contacts_Text4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Contacts were successfully added to Campaign as Campaign Members.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>199</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>dec_Accounts_Exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>almRecordIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionableListMember</objectType>
    </variables>
    <variables>
        <name>batchjobid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listAccount_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listCampaignMemeber_Contact_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listContact_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listUniqueContact_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceRecordIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>socvCampaignMemebers_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>sovCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCampaign_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountUnique_Contact_IDs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
