force-app/main/default/flows/Create_Engagement_Interaction_from_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Gets the base URL for the org to link the EI back to the triggering event</description>
        <name>GetBaseURL</name>
        <label>GetBaseURL</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_new_or_Update_Existing_Event_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecords</typeName>
            <typeValue>Event</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceRecords</name>
            <value>
                <elementReference>GetEventID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOrgBaseUrl</nameSegment>
        <outputParameters>
            <assignToReference>varT_BaseURL</assignToReference>
            <name>sfdcBaseURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varT_accountFullUrl</assignToReference>
            <name>sfdcRecordURL</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Decision to update or create new based on whether the engagement Interaction field is populated.</description>
        <name>Create_new_or_Update_Existing_Event_Record</name>
        <label>Create new or Update Existing Event Record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Engagement_Interaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Existing_EI_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Engagement_Interaction__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Related_Engagement_Interaction</targetReference>
            </connector>
            <label>Update Existing EI Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FullEventURL</name>
        <dataType>String</dataType>
        <expression>{!varT_BaseURL} + &quot;/lightning/r/Event/&quot; +{!GetEventID.Id} + &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Create Engagement Interaction from Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Engagement Interaction from Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Engagement_Interaction</name>
        <label>Create Engagement Interaction</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Relate_Event_with_Engagement_Interaction_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunicationChannel</field>
            <value>
                <stringValue>In Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Title__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>$Record.FSL__Event_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Friendly_URL_Text__c</field>
            <value>
                <stringValue>Related Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interaction_URL__c</field>
            <value>
                <elementReference>FullEventURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetEventID</name>
        <label>GetEventID</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBaseURL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Relate_Event_with_Engagement_Interaction_ID</name>
        <label>Update/Relate Event with Engagement Interaction ID</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_Engagement_Interaction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If changes occur to the event, update the Engagement Interaction to reflect the changes.</description>
        <name>Update_Related_Engagement_Interaction</name>
        <label>Update Related Engagement Interaction</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEventID.Engagement_Interaction__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Title__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>$Record.FSL__Event_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEventID</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varT_accountFullUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_BaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
