force-app/main/default/flows/Create_Engagement_Interaction_for_Chatbot_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OrBaseURL</name>
        <label>OrBaseURL</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Engagement_Interaction</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecords</typeName>
            <typeValue>LiveChatTranscript</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceRecords</name>
            <value>
                <elementReference>GetChatTranscript</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOrgBaseUrl</nameSegment>
        <outputParameters>
            <assignToReference>varT_BaseURL</assignToReference>
            <name>sfdcBaseURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varT_chatTranscriptFullUrl</assignToReference>
            <name>sfdcRecordURL</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow creates an engagement interaction and relates the cat transcript from a bot session to the EI.</description>
    <environments>Default</environments>
    <formulas>
        <name>EIStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>FullChatTranscriptUrl</name>
        <dataType>String</dataType>
        <expression>{!varT_BaseURL} +&quot;/lightning/r/VoiceCall/&quot;+{!$Record.Id}+&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Create Engagement Interaction for Chatbot Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Engagement Interaction for Chatbot Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Engagement_Interaction</name>
        <label>Create Engagement Interaction</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Relate_Chat_Transcript_to_New_EI</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunicationChannel</field>
            <value>
                <stringValue>Chatbot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Title__c</field>
            <value>
                <stringValue>Chatbot Session</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Friendly_URL_Text__c</field>
            <value>
                <stringValue>Chat Transcript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interaction_URL__c</field>
            <value>
                <elementReference>FullChatTranscriptUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>EIStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Self-Service Chatbot</stringValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This is used for creating the BaseURL</description>
        <name>GetChatTranscript</name>
        <label>GetChatTranscriptRecord</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrBaseURL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Relate_Chat_Transcript_to_New_EI</name>
        <label>Relate Chat Transcript to New EI</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_Engagement_Interaction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetChatTranscript</targetReference>
        </connector>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varT_BaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_chatTranscriptFullUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
