force-app/main/default/flows/Fetch_Latest_Interactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Send_Interaction_Record</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Send Interaction Record</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Interaction Id : {!Loop_through_Interactions.Id} 
Interaction Start Date : {!Loop_through_Interactions.StartTime}  
Interaction Type  :{!Loop_through_Interactions.InteractionType} 
Owner : {!Loop_through_Interactions.OwnerId}
Last Modified Date :{!Loop_through_Interactions.LastModifiedDate}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Interactions</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Fetch Latest Interactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Latest Interactions</label>
    <loops>
        <name>Loop_through_Interactions</name>
        <label>Loop through Interactions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_latest_Interactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Interaction_Record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_latest_Interactions</name>
        <label>Get latest Interactions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Interactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>6.0</numberValue>
        </limit>
        <object>Interaction</object>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_latest_Interactions</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>interactionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction</objectType>
    </variables>
    <variables>
        <name>singleInteractionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction</objectType>
    </variables>
</Flow>
