force-app/main/default/flows/Fetch_Insto_Interactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Final_Interactions_Count</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Final Interactions Count</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Total Number of Interactions - {!countInteractions}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Interactions_Count</name>
        <label>Interactions Count</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>countInteractions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Attendees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_Interactions_Data</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Send Interactions Data</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Interaction Id: {!Loop_through_Interactions.Id}
Interaction Name: {!Loop_through_Interactions.Name}
Interaction Type: {!Loop_through_Interactions.InteractionType}
Interaction Start Time:{!Loop_through_Interactions.StartTime}
Interaction Summary:{!Loop_through_Interactions.Interaction_Summary__c}
Attendees : 
{!Get_Attendees}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Interactions</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Fetch Insto Interactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Insto Interactions</label>
    <loops>
        <name>Loop_through_Interactions</name>
        <label>Loop through Interactions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Interactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interactions_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Interactions_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Attendees</name>
        <label>Get Attendees</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Interactions_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InteractionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Interactions.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InteractionAttendee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interactions</name>
        <label>Get Interactions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Interactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>10.0</numberValue>
        </limit>
        <object>Interaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Interactions</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AllinteractionSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countInteractions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
