force-app/main/default/flows/FINS_Prompt_B2B_Einstein1_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activities_Prompt</name>
        <label>Activities Prompt</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Activities</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Screen_Activities</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Activities</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>B2B_Client_Profile_Summary_Prompt</name>
        <label>B2B Client Profile Summary Prompt</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <actionName>B2B_Client_Profile_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Screen_Client_Profile_Summaries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2B_Client_Profile_Summary</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoices_Prompt</name>
        <label>Invoices Prompt</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Invoices</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Text_Invoices</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Invoices</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_DocGen</name>
        <label>Invoke DocGen</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <actionName>sfiArch_CallServerDocGen2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>docTitleVar</name>
            <value>
                <stringValue>{!Get_Account.Name} Summary as of {!$Flow.CurrentDate}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTemplateDrObjectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTemplateId</name>
            <value>
                <elementReference>getTemplateId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileFormatVar</name>
            <value>
                <stringValue>docx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>DocumentServiceGateway_DocGenerationWithTokenData</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sfiArch_CallServerDocGen2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Cases_Prompt</name>
        <label>Open Cases Prompt</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Open_Cases</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Screen_Open_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Open_Cases</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Open_Opportunities_Prompt</name>
        <label>Open Opportunities Prompt</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Opportunities</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Text_Open_Opportunities</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Opportunities</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Orders_Prompt</name>
        <label>Orders Prompt</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Orders</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Text_Orders</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Orders</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Annotated_Activities</name>
        <label>Annotated Activities</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_Activities.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activities_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_Client_Profile_Summary</name>
        <label>Annotated Client Profile Summary</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_ClientProfileSummary.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Client_Summary_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_Invoices</name>
        <label>Annotated Invoices</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_Invoices.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoices_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_Open_Cases</name>
        <label>Annotated Open Cases</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_OpenCases.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Open_Cases_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_Open_Opportunities</name>
        <label>Annotated Open Opportunities</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_OpenOpportunities.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Open_Opportunities_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_Orders</name>
        <label>Annotated Orders</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_Orders.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Orders_Field</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClientProfileSummarization</name>
        <choiceText>Generate a complete summary of this Client!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate a complete summary of this Client!</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofActivities</name>
        <choiceText>Activities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Activities</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofInvoices</name>
        <choiceText>Invoices</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoices</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofOpenCases</name>
        <choiceText>Open Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofOpenOpportunities</name>
        <choiceText>Open Opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open Opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofOrders</name>
        <choiceText>Orders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Orders</stringValue>
        </value>
    </choices>
    <decisions>
        <name>GenDoc</name>
        <label>GenDoc?</label>
        <locationX>1502</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>No Doc Gen</defaultConnectorLabel>
        <rules>
            <name>Generate_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_create_a_document_with_summary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTemplateId</targetReference>
            </connector>
            <label>Generate Docs</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision logic to select a prompt template</description>
        <name>Prompt_Decision</name>
        <label>Prompt Decision</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofActivities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activities_Prompt</targetReference>
            </connector>
            <label>Activities</label>
        </rules>
        <rules>
            <name>Open_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofOpenCases</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Cases_Prompt</targetReference>
            </connector>
            <label>Open Cases</label>
        </rules>
        <rules>
            <name>Invoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofInvoices</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoices_Prompt</targetReference>
            </connector>
            <label>Invoices</label>
        </rules>
        <rules>
            <name>Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofOrders</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Orders_Prompt</targetReference>
            </connector>
            <label>Orders</label>
        </rules>
        <rules>
            <name>Open_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofOpenOpportunities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Opportunities_Prompt</targetReference>
            </connector>
            <label>Open Opportunities</label>
        </rules>
        <rules>
            <name>B2B_Client_Profile_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientProfileSummarization</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2B_Client_Profile_Summary_Prompt</targetReference>
            </connector>
            <label>B2B Client Profile Summary</label>
        </rules>
    </decisions>
    <description>Provide users a wizard-like screen to select which Prompt Template to invoke for B2B accounts - added DocGen</description>
    <environments>Default</environments>
    <interviewLabel>FINS Prompt - B2B Einstein1 Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Prompt - B2B Einstein1 Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Step to fetch Accounts</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prompt_Template_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplateId</name>
        <label>getTemplateId</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_DocGen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINSAISummary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Activities Field on the Account Record.</description>
        <name>Update_Activities_Field</name>
        <label>Update Activities Field</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Activities__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Client Profile Summary Field on the Account Record.</description>
        <name>Update_Client_Summary_Field</name>
        <label>Update Client Summary Field</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>GenDoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_B2B_Client_Profile_Summary__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FINS_ClientSummaryRich__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Invoices Field on the Account Record.</description>
        <name>Update_Invoices_Field</name>
        <label>Update Invoices Field</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Invoices__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Open Cases Field on the Account Record.</description>
        <name>Update_Open_Cases_Field</name>
        <label>Update Open Cases Field</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Open_Cases__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Open Opportunities Field on the Account Record.</description>
        <name>Update_Open_Opportunities_Field</name>
        <label>Update Open Opportunities Field</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Opportunities__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Orders Field on the Account Record.</description>
        <name>Update_Orders_Field</name>
        <label>Update Orders Field</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Orders__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Display_Screen_Activities</name>
        <label>Display Screen Activities</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Activities</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_InteractionSummaries</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_Activities</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Screen_Client_Profile_Summaries</name>
        <label>Display Screen Client Profile Summaries</label>
        <locationX>1502</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Client_Profile_Summary</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_ClientProfileSummary</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_ClientProfileSummary</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Screen_Open_Cases</name>
        <label>Display Screen Open Cases</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Open_Cases</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_OpenCases</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_OpenCases</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Text_Invoices</name>
        <label>Display Text Invoices</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Invoices</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_PlansandGoals</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_Invoices</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Text_Open_Opportunities</name>
        <label>Display Text Open Opportunities</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Open_Opportunities</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Disclaimer_FinancialAccounts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_OpenOpportunities</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Text_Orders</name>
        <label>Display Text Orders</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Orders</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_FinancialAccounts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_Orders</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prompt_Template_Selection</name>
        <label>Prompt Template Selection</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Prompt_Decision</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select which summarization you&apos;d like of&amp;nbsp;{!recordId.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_your_desired_summarization</name>
            <choiceReferences>SummarizationofActivities</choiceReferences>
            <choiceReferences>SummarizationofOpenCases</choiceReferences>
            <choiceReferences>SummarizationofInvoices</choiceReferences>
            <choiceReferences>SummarizationofOrders</choiceReferences>
            <choiceReferences>SummarizationofOpenOpportunities</choiceReferences>
            <choiceReferences>ClientProfileSummarization</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ClientProfileSummarization</defaultSelectedChoiceReference>
            <fieldText>Select your desired summarization</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Would_you_like_to_create_a_document_with_summary</name>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to create a document with summary?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_desired_summarization</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClientProfileSummarization</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GenAI_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAnnotatedResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
