force-app/main/default/flows/FINS_Prompt_Get_Financial_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Step to add the financial account details to the Prompt Template</description>
        <name>Add_Financial_Account_Details_to_Prompt_Template</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Financial Account Details to Prompt Template</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_through_each_Financial_Account.Name}{!Loop_through_each_Financial_Account.FinServ__RecordTypeName__c}{!Loop_through_each_Financial_Account.Status__c}{!Loop_through_each_Financial_Account.FinServ__Ownership__c}{!Loop_through_each_Financial_Account.FinServ__JointOwner__r.Name}{!Loop_through_each_Financial_Account.FinServ__Balance__c}{!Loop_through_each_Financial_Account.FinServ__FinancialAccountType__c}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Financial_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Notes_about_no_Financial_Accounts</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Notes about no Financial Accounts</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>There are no financial accounts for this Client.
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Step to verify if the selected Account Record has any Financial Accounts</description>
        <name>Has_Financial_Accounts</name>
        <label>Has Financial Accounts?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_Notes_about_no_Financial_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Financial_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_each_Financial_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FINS Prompt - Get Financial Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Prompt - Get Financial Accounts</label>
    <loops>
        <description>Step to loop through each financial account</description>
        <name>Loop_through_each_Financial_Account</name>
        <label>Loop through each Financial Account</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Financial_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Financial_Account_Details_to_Prompt_Template</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <description>Step to get Financial accounts on the selected accounted record.</description>
        <name>Get_Financial_Accounts</name>
        <label>Get Financial Accounts</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Financial_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__fieldCompletion</name>
            <capabilityName>PromptTemplateType://einstein_gpt__fieldCompletion</capabilityName>
            <inputs>
                <name>RelatedEntity</name>
                <capabilityInputName>RelatedEntity</capabilityInputName>
                <dataType>SOBJECT://Account</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Get_Financial_Accounts</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
</Flow>
