force-app/main/default/flows/FINS_Borrower_Information_FSC_Package_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Borrowers_Choices</name>
        <label>Assign Borrowers Choices</label>
        <locationX>276</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>Borrowers_Choices_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanApplicant.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Borrowers_Choices_Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanApplicant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Borrower_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employers_Choices</name>
        <label>Assign Employers Choices</label>
        <locationX>1340</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>Employers_Choices_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanApplicantEmployment.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employers_Choices_Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanApplicantEmployment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Employer_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Income_Choices</name>
        <label>Assign Income Choices</label>
        <locationX>2450</locationX>
        <locationY>1225</locationY>
        <assignmentItems>
            <assignToReference>Income_Choices_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanApplicantIncome.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Income_Choices_Values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanApplicantIncome.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Incomes_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Borrower_Array</name>
        <label>Increment Borrower Array</label>
        <locationX>418</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>Length_Borrowers_Array</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Borrowers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Employer_Array</name>
        <label>Increment Employer Array</label>
        <locationX>1440</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>Length_Employers_Array</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Employers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Incomes_Array</name>
        <label>Increment Incomes Array</label>
        <locationX>2610</locationX>
        <locationY>1225</locationY>
        <assignmentItems>
            <assignToReference>Length_Incomes_Array</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Incomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Yes_No_Choices</name>
        <label>Populate Yes No Choices</label>
        <locationX>50</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>YesNoChoiceNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Yes_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YesNoChoiceNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>No_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YesNoChoiceValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YesNoChoiceValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Personal_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Borrower_Choices</name>
        <label>Reset Borrower Choices</label>
        <locationX>551</locationX>
        <locationY>1429</locationY>
        <assignmentItems>
            <assignToReference>Borrowers_Choices_Text</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Borrowers_Choices_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Borrowers_Choices_Values</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Borrowers_Choices_Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Show_Borrower_Validation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonalOneBackToBorrowers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonalTwoBackToPersonalOne</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldGoBackToBorrowersScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Borrower_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Null_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Address_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Null_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Length_Borrowers_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Personal_Information_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Declarations_Id</name>
        <label>Reset Declarations</label>
        <locationX>3922</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>Selected_Declaration_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Null_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationsOneBackToProperty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Declarations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Declarations_Id_0</name>
        <label>Reset Declarations</label>
        <locationX>4403</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>DeclarationsTwoBackToDeclarationsOne</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Declarations_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Demographics</name>
        <label>Reset Demographics</label>
        <locationX>4694</locationX>
        <locationY>1450</locationY>
        <assignmentItems>
            <assignToReference>DemographicsBackToDeclarationsTwo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Demographics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Employer_Choices</name>
        <label>Reset Employer Choices</label>
        <locationX>1457</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>Employers_Choices_Text</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Employers_Choices_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employers_Choices_Values</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Employers_Choices_Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldGoBackToEmployersScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Employer_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Null_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Length_Employers_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Employer_Income</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Income_Choices</name>
        <label>Reset Income Choices</label>
        <locationX>2211</locationX>
        <locationY>1438</locationY>
        <assignmentItems>
            <assignToReference>Income_Choices_Text</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Income_Choices_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Income_Choices_Values</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Income_Choices_Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Income_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Null_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldGoBackToIncomesScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Length_Incomes_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Employer_Income_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Property_Section</name>
        <label>Reset Property Section</label>
        <locationX>3483</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ShouldMoveNextFromProperty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Property_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Null_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyBackToIncomes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Loan_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Borrower_Validation</name>
        <label>Set Borrower Validation</label>
        <locationX>418</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>Show_Borrower_Validation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Borrowers_Flag</name>
        <label>Set Borrowers Exist Flag</label>
        <locationX>735</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>Does_Borrowers_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Personal_Information_One_FSC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Borrowers_Flag_0</name>
        <label>Set Borrowers Exist Flag</label>
        <locationX>1060</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>Does_Borrowers_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Borrowers_Flag_0_0</name>
        <label>Set Borrowers Exist Flag</label>
        <locationX>238</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Does_Borrowers_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Declarations</name>
        <label>Set Stage to Declarations</label>
        <locationX>4018</locationX>
        <locationY>1275</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declarations_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Declaration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Declarations_0</name>
        <label>Set Stage to Declarations</label>
        <locationX>4404</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declarations_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Declarations_Two_FSC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Demographics</name>
        <label>Set Stage to Demographics</label>
        <locationX>4694</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demographics_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Demographics_One_FSC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Employer_Income</name>
        <label>Set Stage to Employer &amp; Income</label>
        <locationX>1482</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Income_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Employer_Income_0</name>
        <label>Set Stage to Employer &amp; Income</label>
        <locationX>2287</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Income_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Incomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Loan_Property</name>
        <label>Set Stage to Loan &amp; Property</label>
        <locationX>3695</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Property_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Personal_Information</name>
        <label>Set Stage to Personal Information</label>
        <locationX>50</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrowers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Personal_Information_0</name>
        <label>Set Stage to Personal Information</label>
        <locationX>372</locationX>
        <locationY>1429</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrowers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Add_or_Update_Address</name>
        <label>Add or Update Address</label>
        <locationX>1146</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Update_Personal_Information_Two_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New_Address_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Address_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Personal_Information_Two_FSC</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_or_Update_Borrower</name>
        <label>Decision</label>
        <locationX>833</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Update_Personal_Information_One_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Show_Borrower_Validation_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Borrower_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_New_Borrower</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Borrower_Validation</targetReference>
            </connector>
            <label>Show_Borrower_Validation_Message</label>
        </rules>
        <rules>
            <name>Add_Borrower_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New_Borrower</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Personal_Information_One_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Or_Update_Declarations</name>
        <label>Add or Update Declarations</label>
        <locationX>4178</locationX>
        <locationY>966</locationY>
        <defaultConnector>
            <targetReference>Update_Declarations_One_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Add_Declarations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Declaration_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Declarations_One_FSC</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_or_Update_Employer</name>
        <label>Decision</label>
        <locationX>2049</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>Update_Employer_Income_One_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Back_To_Borrowers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldGoBackToBorrowersScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Borrower_Choices</targetReference>
            </connector>
            <label>Back To Borrowers</label>
        </rules>
        <rules>
            <name>Add_Employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New_Employer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Employer_Income_One_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>From_Employers_Next_Section</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Employer_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Income_Choices</targetReference>
            </connector>
            <label>Next Section</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_or_Update_Income</name>
        <label>Decision</label>
        <locationX>3243</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Update_Employer_Income_Two_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Back_to_Employers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldGoBackToEmployersScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Employer_Choices</targetReference>
            </connector>
            <label>Back to Employers</label>
        </rules>
        <rules>
            <name>Add_Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New_Income</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Employer_Income_Two_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>From_Incomes_Next_Section</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Income_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Property_Section</targetReference>
            </connector>
            <label>Next Section</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Or_Update_Property</name>
        <label>Add or Update Property</label>
        <locationX>3650</locationX>
        <locationY>776</locationY>
        <defaultConnector>
            <targetReference>Update_Loan_Property_One_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Add_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Property_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Loan_Property_One_FSC</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direct_to_create_borrower</name>
        <label>Direct to create borrower</label>
        <locationX>772</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>Add_Personal_Information_One_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New_Borrower</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Personal_Information_One_FSC</targetReference>
            </connector>
            <label>Create Borrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_Borrowers_Exist</name>
        <label>If No Borrowers Exist</label>
        <locationX>539</locationX>
        <locationY>678</locationY>
        <defaultConnector>
            <targetReference>Set_No_Borrowers_Flag_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Borrowers Exist</defaultConnectorLabel>
        <rules>
            <name>If_BorrowersChoiceValues_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Borrowers_Choices_Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Length_Borrowers_Array</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Borrowers_Flag</targetReference>
            </connector>
            <label>No Borrowers Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_Employers_Exist</name>
        <label>If No Employers Exist</label>
        <locationX>1532</locationX>
        <locationY>697</locationY>
        <defaultConnector>
            <targetReference>Select_Employer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Employers Exist</defaultConnectorLabel>
        <rules>
            <name>If_EmployersChoicesValues_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Employers_Choices_Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Length_Employers_Array</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Employer</targetReference>
            </connector>
            <label>No Employers Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_Incomes_Exist</name>
        <label>If No Incomes Exist</label>
        <locationX>2726</locationX>
        <locationY>1041</locationY>
        <defaultConnector>
            <targetReference>Select_Income</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incomes Exist</defaultConnectorLabel>
        <rules>
            <name>If_IncomeChoiceValues_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Income_Choices_Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Length_Incomes_Array</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Income</targetReference>
            </connector>
            <label>No Incomes Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Go_Back_To_Borrowers</name>
        <label>Should Go Back To Borrowers</label>
        <locationX>853</locationX>
        <locationY>1041</locationY>
        <defaultConnector>
            <targetReference>Set_No_Borrowers_Flag_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Must_Create_Borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonalOneBackToBorrowers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Does_Borrowers_Exist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Must_Create_Borrower_Screen</targetReference>
            </connector>
            <label>Must Create Borrower</label>
        </rules>
        <rules>
            <name>PersonalOne_Back_to_Borrowers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonalOneBackToBorrowers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Does_Borrowers_Exist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Borrower_Choices</targetReference>
            </connector>
            <label>Back to Borrowers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Go_Back_To_DeclarationsOne</name>
        <label>Should Go Back To DeclarationsOne</label>
        <locationX>4397</locationX>
        <locationY>1448</locationY>
        <defaultConnector>
            <targetReference>Reset_Demographics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeclarationsTwo_Back_to_DeclarationsOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeclarationsTwoBackToDeclarationsOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Declarations_Id</targetReference>
            </connector>
            <label>Back to DeclarationsOne</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Go_Back_To_DeclarationsTwo</name>
        <label>Should Go Back To DeclarationsTwo</label>
        <locationX>4685</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demographics_Back_to_DeclarationsTwo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DemographicsBackToDeclarationsTwo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Declarations_Id_0</targetReference>
            </connector>
            <label>Back to DeclarationsTwo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Go_Back_To_Incomes</name>
        <label>Should Go Back To Incomes</label>
        <locationX>3658</locationX>
        <locationY>1445</locationY>
        <defaultConnector>
            <targetReference>Reset_Declarations_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PropertyOne_Back_to_Incomes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PropertyBackToIncomes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Income_Choices</targetReference>
            </connector>
            <label>Back to Incomes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Go_Back_To_PersonalOne</name>
        <label>Should Go Back To PersonalOne</label>
        <locationX>1135</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Reset_Employer_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_to_PersonalOne_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonalTwoBackToPersonalOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Personal_Information_One_FSC</targetReference>
            </connector>
            <label>Back to PersonalOne Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Go_Back_To_Property</name>
        <label>Should Go Back To Property</label>
        <locationX>4166</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Reset_Declarations_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeclarationsOne_Back_to_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeclarationsOneBackToProperty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Property_Section</targetReference>
            </connector>
            <label>Back to Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_Next_Section_or_Create_New_2</name>
        <label>Skip to Next Section or Create New</label>
        <locationX>1543</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Reset_Income_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip to Select Income</defaultConnectorLabel>
        <rules>
            <name>From_NoEmployers_Back_To_Borrowers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldGoBackToBorrowersScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Borrower_Choices</targetReference>
            </connector>
            <label>Back To Borrowers</label>
        </rules>
        <rules>
            <name>Create_New_Employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAddNewEmployer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Employer_Income_One_FSC</targetReference>
            </connector>
            <label>Create New Employer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_Next_Section_or_Create_New_3</name>
        <label>Skip to Next Section or Create New</label>
        <locationX>2968</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Reset_Property_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip to Property</defaultConnectorLabel>
        <rules>
            <name>FromNoIncomes_Back_to_Employers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldGoBackToEmployersScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Employer_Choices</targetReference>
            </connector>
            <label>Back to Employers</label>
        </rules>
        <rules>
            <name>Create_New_Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAddNewIncome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Employer_Income_Two_FSC</targetReference>
            </connector>
            <label>Create New Income</label>
        </rules>
    </decisions>
    <interviewLabel>Borrower Information (FSC) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Borrower Information (FSC)</label>
    <loops>
        <description>Save queried loan applicants</description>
        <name>Save_Borrowers</name>
        <label>Save Borrowers</label>
        <locationX>341</locationX>
        <locationY>672</locationY>
        <assignNextValueToReference>LoanApplicant</assignNextValueToReference>
        <collectionReference>LoanApplicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Borrowers_Choices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_Borrowers_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Save_Employers</name>
        <label>Save Employers</label>
        <locationX>1342</locationX>
        <locationY>697</locationY>
        <assignNextValueToReference>LoanApplicantEmployment</assignNextValueToReference>
        <collectionReference>LoanApplicantEmployments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Employers_Choices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_Employers_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Save_Incomes</name>
        <label>Save Incomes</label>
        <locationX>2545</locationX>
        <locationY>1041</locationY>
        <assignNextValueToReference>LoanApplicantIncome</assignNextValueToReference>
        <collectionReference>LoanApplicantIncomes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Income_Choices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_Incomes_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FSCLending</processType>
    <recordLookups>
        <name>Get_Borrowers</name>
        <label>Get Borrowers</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Borrowers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicant</object>
        <outputReference>LoanApplicants</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Address</name>
        <label>Get Current Address</label>
        <locationX>1172</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_or_Update_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResidencyType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Present Address</stringValue>
            </value>
        </filters>
        <object>LoanApplicantAddress</object>
        <outputAssignments>
            <assignToReference>Selected_Address_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Declaration</name>
        <label>Get Declaration</label>
        <locationX>4187</locationX>
        <locationY>1227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Or_Update_Declarations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </filters>
        <object>LoanApplicantDeclaration</object>
        <outputAssignments>
            <assignToReference>Selected_Declaration_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Employers</name>
        <label>Get Employers</label>
        <locationX>1343</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Employers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicantEmployment</object>
        <outputReference>LoanApplicantEmployments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Incomes</name>
        <label>Get Incomes</label>
        <locationX>2286</locationX>
        <locationY>1042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Incomes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicantIncome</object>
        <outputReference>LoanApplicantIncomes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Property</name>
        <label>Get Property</label>
        <locationX>3658</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Or_Update_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicationProperty</object>
        <outputAssignments>
            <assignToReference>Selected_Property_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_New_Employer</name>
        <label>Add New Employer</label>
        <locationX>1541</locationX>
        <locationY>911</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_to_Next_Section_or_Create_New_2</targetReference>
        </connector>
        <fields>
            <name>AddEmployerChoice</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>YesNoChoiceNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>YesNoChoiceValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>AddEmployerChoiceText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <elementReference>AddEmployerChoiceHelpText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldAddNewEmployer</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoEmployersFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToBorrowersText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldGoBackToBorrowersScreen</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_New_Income</name>
        <label>Add New Income</label>
        <locationX>2735</locationX>
        <locationY>746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_to_Next_Section_or_Create_New_3</targetReference>
        </connector>
        <fields>
            <name>AddIncomeChoice</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>YesNoChoiceNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>YesNoChoiceValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>AddIncomeChoiceText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <elementReference>AddIncomeChoiceHelpText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldAddNewIncome</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoIncomesFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToEmployersText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldGoBackToEmployersScreen</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Must_Create_Borrower_Screen</name>
        <label>Must Create Borrower Screen</label>
        <locationX>548</locationX>
        <locationY>968</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Direct_to_create_borrower</targetReference>
        </connector>
        <fields>
            <name>Must_Create_Borrower_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!CreateBorrowerValMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Must_Create_New_Borrower_Button</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewBorrowerText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_New_Borrower</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Borrower</name>
        <label>Select Borrower</label>
        <locationX>550</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_or_Update_Borrower</targetReference>
        </connector>
        <fields>
            <name>Borrower_Choices</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>Borrowers_Choices_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>Borrowers_Choices_Values</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>BorrowerButtonPicklistLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Borrower_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Borrower_Validation</name>
            <fieldText>&lt;p style=&quot;text-align: center; color: rgb(231, 11, 11); background-color: rgb(255, 255, 255);&quot;&gt;Select a Borrower.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Borrower_Validation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Another_Borrower_Button</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewBorrowerText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_New_Borrower</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Employer</name>
        <label>Select Employer</label>
        <locationX>1764</locationX>
        <locationY>695</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_Update_Employer</targetReference>
        </connector>
        <fields>
            <name>Employer_Choices</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>Employers_Choices_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>Employers_Choices_Values</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>EmployerButtonPicklistLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Employer_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Another_Employer_Button</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewEmployerText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_New_Employer</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmployersFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToBorrowersText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldGoBackToBorrowersScreen</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Income</name>
        <label>Select Income</label>
        <locationX>3018</locationX>
        <locationY>1038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_Update_Income</targetReference>
        </connector>
        <fields>
            <name>Income_Choices</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>Income_Choices_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>Income_Choices_Values</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Select or add a source of other monthly income to edit its information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Income_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Another_Income_Button</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewIncomeText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_New_Income</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IncomeFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToEmployersText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldGoBackToEmployersScreen</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Declarations_Stage</name>
        <isActive>true</isActive>
        <label>Declarations</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Demographics_Stage</name>
        <isActive>true</isActive>
        <label>Demographics</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Employer_Income_Stage</name>
        <isActive>true</isActive>
        <label>Employer &amp; Income</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Loan_Property_Stage</name>
        <isActive>true</isActive>
        <label>Loan &amp; Property</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Personal_Information_Stage</name>
        <isActive>true</isActive>
        <label>Personal Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Populate_Yes_No_Choices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Declarations_One_FSC</name>
        <label>Add Declarations One</label>
        <locationX>4250</locationX>
        <locationY>709</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_Property</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>DeclarationsOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Declaration</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Declaration_Id</assignToReference>
            <name>Created_Declarations_Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DeclarationsOneBackToProperty</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Add_Employer_Income_One_FSC</name>
        <label>Add Employer &amp; Income One</label>
        <locationX>2102</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Reset_Employer_Choices</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>EmployerOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Employer</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Add_Employer_Income_Two_FSC</name>
        <label>Add Employer &amp; Income Two</label>
        <locationX>3378</locationX>
        <locationY>1429</locationY>
        <connector>
            <targetReference>Reset_Income_Choices</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>EmployerTwo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Income</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Add_Loan_Property_One_FSC</name>
        <label>Add Loan &amp; Property One</label>
        <locationX>3578</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_Incomes</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>PropertyOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Property</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Property_Id</assignToReference>
            <name>Created_Property_Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PropertyBackToIncomes</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Add_Personal_Information_One_FSC</name>
        <label>Add Personal Information One</label>
        <locationX>790</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_Borrowers</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>PersonalOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Borrower</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Borrower_Id</assignToReference>
            <name>Created_Borrower_Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonalOneBackToBorrowers</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Add_Personal_Information_Two_FSC</name>
        <label>Add Personal Information Two</label>
        <locationX>1073</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_PersonalOne</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>PersonalTwo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Address</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Address_Id</assignToReference>
            <name>Created_Address_Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonalTwoBackToPersonalOne</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Declarations_One_FSC</name>
        <label>Update Declarations One</label>
        <locationX>4112</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_Property</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>DeclarationsOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Declaration</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Declaration_Id</assignToReference>
            <name>Created_Declarations_Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DeclarationsOneBackToProperty</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Declarations_Two_FSC</name>
        <label>Update Declarations Two</label>
        <locationX>4405</locationX>
        <locationY>822</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_DeclarationsOne</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>DeclarationsTwo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Declaration</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DeclarationsTwoBackToDeclarationsOne</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Demographics_One_FSC</name>
        <label>Update Demographics One</label>
        <locationX>4692</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_DeclarationsTwo</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>DemographicsOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Borrower</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DeclarationsTwoBackToDeclarationsOne</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Employer_Income_One_FSC</name>
        <label>Update Employer &amp; Income One</label>
        <locationX>1997</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>Reset_Employer_Choices</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Employer_Id</name>
            <value>
                <elementReference>Selected_Employer_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>EmployerOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Employer</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Employer_Income_Two_FSC</name>
        <label>Update Employer &amp; Income Two</label>
        <locationX>3137</locationX>
        <locationY>1459</locationY>
        <connector>
            <targetReference>Reset_Income_Choices</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Income_Id</name>
            <value>
                <elementReference>Selected_Income_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>EmployerTwo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Income</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Loan_Property_One_FSC</name>
        <label>Update Loan &amp; Property One</label>
        <locationX>3736</locationX>
        <locationY>1069</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_Incomes</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>PropertyOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Property</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PropertyBackToIncomes</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Personal_Information_One_FSC</name>
        <label>Update Personal Information One</label>
        <locationX>893</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_Borrowers</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>PersonalOne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Borrower</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PersonalOneBackToBorrowers</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Personal_Information_Two_FSC</name>
        <label>Update Personal Information Two</label>
        <locationX>1208</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>Should_Go_Back_To_PersonalOne</targetReference>
        </connector>
        <flowName>FINS_Borrower_Information_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Address_Id</name>
            <value>
                <elementReference>Selected_Address_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Borrower_Id</name>
            <value>
                <elementReference>Selected_Borrower_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>PersonalTwo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Should_Create_Address</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Address_Id</assignToReference>
            <name>Created_Address_Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonalTwoBackToPersonalOne</assignToReference>
            <name>SkipRecordCRUD</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>AddEmployerChoiceHelpText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Employer includes each job, self-employment, or business you own.</text>
    </textTemplates>
    <textTemplates>
        <name>AddEmployerChoiceText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Do you want to add an employer?</text>
    </textTemplates>
    <textTemplates>
        <name>AddIncomeChoiceHelpText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Other monthly income includes alimony, capital gains, disability, social security, and other non-employment sources of income.</text>
    </textTemplates>
    <textTemplates>
        <name>AddIncomeChoiceText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Do you want to add a source of other monthly income?</text>
    </textTemplates>
    <textTemplates>
        <name>BackToBorrowersText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Back To Borrowers</text>
    </textTemplates>
    <textTemplates>
        <name>BackToEmployersText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Back To Employers</text>
    </textTemplates>
    <textTemplates>
        <name>BorrowerButtonPicklistLabel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select or add a borrower to edit their information</text>
    </textTemplates>
    <textTemplates>
        <name>CreateBorrowerValMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Create a borrower to continue.</text>
    </textTemplates>
    <textTemplates>
        <name>EmployerButtonPicklistLabel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select or add an employer to edit its information</text>
    </textTemplates>
    <textTemplates>
        <name>IncomeButtonPicklistLabel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select or add a source of other monthly income to edit its information</text>
    </textTemplates>
    <textTemplates>
        <name>NewBorrowerText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Borrower</text>
    </textTemplates>
    <textTemplates>
        <name>NewEmployerText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Employer</text>
    </textTemplates>
    <textTemplates>
        <name>NewIncomeText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Income</text>
    </textTemplates>
    <textTemplates>
        <name>NextText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Next</text>
    </textTemplates>
    <textTemplates>
        <name>No_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>Yes_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <variables>
        <name>Borrowers_Choices_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Borrowers_Choices_Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeclarationsOneBackToProperty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DeclarationsTwoBackToDeclarationsOne</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DemographicsBackToDeclarationsTwo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Does_Borrowers_Exist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Employers_Choices_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Employers_Choices_Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Income_Choices_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Income_Choices_Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_New_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_New_Borrower</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_New_Declaration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_New_Employer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_New_Income</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_New_Property</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Length_Borrowers_Array</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Length_Employers_Array</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Length_Incomes_Array</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>LoanApplicantAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantAddress</objectType>
    </variables>
    <variables>
        <name>LoanApplicantDeclaration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantDeclaration</objectType>
    </variables>
    <variables>
        <name>LoanApplicantEmployment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantEmployment</objectType>
    </variables>
    <variables>
        <name>LoanApplicantEmployments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantEmployment</objectType>
    </variables>
    <variables>
        <name>LoanApplicantIncome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantIncome</objectType>
    </variables>
    <variables>
        <name>LoanApplicantIncomes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantIncome</objectType>
    </variables>
    <variables>
        <name>LoanApplicants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>LoanApplicationProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationProperty</objectType>
    </variables>
    <variables>
        <name>Null_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonalOneBackToBorrowers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PersonalTwoBackToPersonalOne</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PropertyBackToIncomes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Residential Loan Application ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Address_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Borrower_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Declaration_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Employer_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Income_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Property_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldAddNewBorrower</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldAddNewEmployer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldAddNewIncome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldAddNewProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldGoBackToBorrowersScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldGoBackToDeclarationsScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldGoBackToEmployersScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldGoBackToIncomesScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldGoBackToPropertyScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldMoveNextFromDeclarations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldMoveNextFromProperty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Show_Borrower_Validation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>YesNoChoiceNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesNoChoiceValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
