force-app/main/default/flows/FINS_Retail_Banking_Enablement_2nd_Program_Progress_Fastforward.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Retail Banking Enablement Fast Forward Progress of milestones</description>
    <environments>Default</environments>
    <interviewLabel>FINS Retail Banking - Enablement 2nd Program Progress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Retail Banking - Enablement 2nd Program Progress - Fastforward</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_10_Referral_Milestone_Progress_Record</name>
        <label>Create 10 Referral Milestone Progress Record</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Win_2_Deals_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>Milestone_and_Exercise__c</field>
            <value>
                <elementReference>varMilestoneAndExerciseID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Value__c</field>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </inputAssignments>
        <object>CGC_Milestone_Progress_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_50_Clients_Milestone_Progress_Record</name>
        <label>Create 50 Clients Milestone Progress Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Create_10_Referrals_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>Milestone_and_Exercise__c</field>
            <value>
                <elementReference>varMilestoneAndExerciseID_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Value__c</field>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </inputAssignments>
        <object>CGC_Milestone_Progress_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Win_2_Deals_Milestone_Progress_Record</name>
        <label>Create Win 2 Deals Milestone Progress Record</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Milestone_and_Exercise__c</field>
            <value>
                <elementReference>varMilestoneAndExerciseID_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Value__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <object>CGC_Milestone_Progress_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Create_10_Referrals_Milestone</name>
        <label>Get Create 10 Referrals Milestone</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_10_Referral_Milestone_Progress_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_CGC_Milestone_and_Exercise.008</stringValue>
            </value>
        </filters>
        <object>CGC_Milestone_and_Exercise__c</object>
        <outputAssignments>
            <assignToReference>varMilestoneAndExerciseID_2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Engage_w_50_Clients_Milestone</name>
        <label>Get Engage w 50 Clients Milestone</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_50_Clients_Milestone_Progress_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_CGC_Milestone_and_Exercise.004</stringValue>
            </value>
        </filters>
        <object>CGC_Milestone_and_Exercise__c</object>
        <outputAssignments>
            <assignToReference>varMilestoneAndExerciseID_1</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Win_2_Deals_Milestone</name>
        <label>Get Win 2 Deals Milestone</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Win_2_Deals_Milestone_Progress_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_CGC_Milestone_and_Exercise.009</stringValue>
            </value>
        </filters>
        <object>CGC_Milestone_and_Exercise__c</object>
        <outputAssignments>
            <assignToReference>varMilestoneAndExerciseID_3</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Engage_w_50_Clients_Milestone</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Called</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CGC_Milestone_and_Exercise__c</objectType>
    </variables>
    <variables>
        <name>varMilestoneAndExerciseID_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMilestoneAndExerciseID_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMilestoneAndExerciseID_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
