force-app/main/default/flows/FINS_Assets_and_Liabilities_FSC_Package_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>2276</locationX>
        <locationY>1133</locationY>
        <assignmentItems>
            <assignToReference>Length_Financial_Assets_Array</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter_For_Other_Assets</name>
        <label>Increment Counter</label>
        <locationX>5396</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>Length_Financial_Liability_Array</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Liability_junction_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter_For_OtherAssets</name>
        <label>Increment Counter</label>
        <locationX>3143</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>Length_Other_Assets_Array</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object_OtherAsset_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter_For_OtherLiability</name>
        <label>Increment Counter</label>
        <locationX>6925</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>Length_Other_Liability_Array</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Liability_junction_object_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter_For_RealEstateAsset</name>
        <label>Increment Counter</label>
        <locationX>8098</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>Length_RealEstate_Assets_Array</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Yes_No_Choices</name>
        <label>Populate Yes No Choices</label>
        <locationX>280</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>YesNoChoiceNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Yes_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YesNoChoiceNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>No_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YesNoChoiceValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YesNoChoiceValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Adding_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Assets_Choices</name>
        <label>Prepare Assets Choices</label>
        <locationX>2268</locationX>
        <locationY>1381</locationY>
        <assignmentItems>
            <assignToReference>AssetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Financial_Asset_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Financial_Asset_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Borrower_Choices</name>
        <label>Prepare Borrower Choices</label>
        <locationX>1093</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>BorrowerNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Borrower_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BorrowerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Borrower_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Borrower_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Financial_Liability_Choices</name>
        <label>Prepare Financial Liability Choices</label>
        <locationX>5505</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>FinancialLiabilityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Financial_Liability_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialLiabilityNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Financial_Liability_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter_For_Other_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Other_Assets_Choices</name>
        <label>Prepare Other Assets Choices</label>
        <locationX>3147</locationX>
        <locationY>1102</locationY>
        <assignmentItems>
            <assignToReference>OtherAssetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherAsset_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherAssetNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherAsset_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter_For_OtherAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Other_Liability_Choices</name>
        <label>Prepare Other Liability Choices</label>
        <locationX>7130</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>OtherLiabilityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Other_Liability_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherLiabilityNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Other_Liability_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter_For_OtherLiability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_RealEstate_Assets_Choices</name>
        <label>Prepare Real Estate Assets Choices</label>
        <locationX>8433</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>RealEstateAssetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RealEstate_Asset_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealEstateAssetNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RealEstate_Asset_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter_For_RealEstateAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Array_Length_to_Zero_FinancialLiability</name>
        <label>Reset Array Length to Zero</label>
        <locationX>6253</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>Length_Other_Liability_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Liability_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Liability_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherLiabilityIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherLiabilityIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherLiabilityNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherLiabilityNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OtherLiability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedOtherLiability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Liability_junction_object_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Arrays_and_Counter_For_Financial_Assets</name>
        <label>Reset Arrays and Counter For Financial Assets</label>
        <locationX>2166</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>AssetNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AssetNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AssetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Length_Financial_Assets_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_Financial_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Arrays_and_Counter_For_Other_Assets</name>
        <label>Reset Arrays and Counter For Other Assets</label>
        <locationX>2939</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>OtherAssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherAssetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherAssetNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherAssetNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_Other_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Length_Other_Assets_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherAsset_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherAsset_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OtherAsset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedOtherAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object_OtherAsset_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Asset_choices</name>
        <label>Reset Asset choices and Selected Asset</label>
        <locationX>2358</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>AssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AssetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AssetNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Financial_Asset_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Financial_Asset_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FinancialAsset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Applicant_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Borrower_Array</name>
        <label>Reset Borrower Array</label>
        <locationX>638</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>BorrowerNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BorrowerNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BorrowerIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BorrowerIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldRecurse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FinancialAsset</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBorrowers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Calculated_Fields</name>
        <label>Reset Calculated Fields</label>
        <locationX>8627</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>TotalFinancialAssetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFinLiabilityMonthlyAmt</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalOtherAssetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalOtherFinLiabilityMonthlyAmt</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldRecurse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Residential_Loan_Application_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Financial_Liability_choices</name>
        <label>Reset Financial Liability choices</label>
        <locationX>5908</locationX>
        <locationY>1890</locationY>
        <assignmentItems>
            <assignToReference>FinancialLiabilityIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FinancialLiabilityIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialLiabilityNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FinancialLiabilityNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Section_to_Financial_Liability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Financial_Liability_Variables</name>
        <label>Reset Financial Liability Variables</label>
        <locationX>4935</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>Length_Financial_Liability_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Financial_Liability_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Financial_Liability_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialLiabilityIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FinancialLiabilityIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialLiabilityNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FinancialLiabilityNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedFinancialLiability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Liability_junction_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Loan_Applicant_Assets</name>
        <label>Reset Loan Applicant Assets</label>
        <locationX>1693</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>LoanApplicantAssets</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>LoanApplicantAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Applicant_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Other_Asset_choices</name>
        <label>Reset Other Asset choices</label>
        <locationX>4309</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>OtherAssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherAssetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherAssetNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherAssetNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Section_to_Other_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Other_Liability_choices</name>
        <label>Reset Other Liability choices</label>
        <locationX>7425</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>OtherLiabilityIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherLiabilityIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherLiabilityNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherLiabilityNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Section_to_Other_Liability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Previous_Section_Flag_from_Financial_Asset</name>
        <label>Reset Previous Section Flag from Financial Asset</label>
        <locationX>1278</locationX>
        <locationY>1494</locationY>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_Financial_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_To_Borrowers_From_AddNewFinancialAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_No_Borrowers_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Previous_Section_Flag_from_Financial_Liability</name>
        <label>Reset Previous Section Flag from Financial Liability</label>
        <locationX>5679</locationX>
        <locationY>76</locationY>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_Financial_Liability</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialLiabilityIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FinancialLiabilityIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialLiabilityNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FinancialLiabilityNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_to_OtherAssets_From_FinancialLiability</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding_Assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OtherAsset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedFinancialLiability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_No_Other_Assets_exist_for_selected_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Previous_Section_Flag_from_Other_Asset</name>
        <label>Reset Previous Section Flag from Other Asset</label>
        <locationX>3076</locationX>
        <locationY>97</locationY>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_Other_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherAssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherAssetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherAssetNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherAssetNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_To_FinancialAssets_From_OtherAssetChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FinancialAsset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedOtherAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_No_Assets_exist_for_selected_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Previous_Section_Flag_from_Other_Liability</name>
        <label>Reset Previous Section Flag from Other Liability</label>
        <locationX>7190</locationX>
        <locationY>1933</locationY>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_Other_Liability</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherLiabilityIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherLiabilityIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherLiabilityNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OtherLiabilityNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_To_FinancialLiability_From_OtherLiability</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FinancialLiability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedOtherLiability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_No_Financial_Liability_exist_for_selected_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Previous_Section_Flag_from_Real_Estate_Asset</name>
        <label>Reset Previous Section Flag from Real_Estate_Asset</label>
        <locationX>8614</locationX>
        <locationY>2084</locationY>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_RealEstate_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding_Liabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealEstateAssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RealEstateAssetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealEstateAssetNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RealEstateAssetNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_To_OtherLiability_From_RealEstate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding_Liabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OtherLiability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedRealEstateAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_No_Other_Liability_exist_for_selected_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Previous_Section_Flag_from_Real_Estate_Asset_0</name>
        <label>Reset Previous Section Flag from Real_Estate_Asset</label>
        <locationX>8049</locationX>
        <locationY>1699</locationY>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_Review</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding_Real_Estate_Assets_Liabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RealEstateAsset</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_No_RealEstate_Assets_exist_for_selected_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Real_Estate_Asset_choices</name>
        <label>Reset Real Estate Asset choices</label>
        <locationX>8390</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>RealEstateAssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RealEstateAssetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealEstateAssetNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RealEstateAssetNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Section_to_RealEstate_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Section_as_Financial_Liability_And_Reset_Array_Length</name>
        <label>Set Section as Financial Liability And Reset Array Length</label>
        <locationX>4333</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FinancialLiability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanApplicantLiabilities</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>LoanApplicantLiabilities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Adding_Liabilities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Section_to_Financial_Liability</name>
        <label>Set Section to Financial Liability</label>
        <locationX>5103</locationX>
        <locationY>1863</locationY>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FinancialLiability</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Applicant_Liabilities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Section_to_Other_Asset</name>
        <label>Set Section to Other Asset</label>
        <locationX>1815</locationX>
        <locationY>1650</locationY>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OtherAsset</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Applicant_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Section_to_Other_Liability</name>
        <label>Set Section to Other Liability</label>
        <locationX>6208</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OtherLiability</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Applicant_Liabilities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Section_to_RealEstate_Asset</name>
        <label>Set Section to Real Estate Asset</label>
        <locationX>1524</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RealEstateAsset</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Applicant_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Adding_Assets</name>
        <label>Set Stage to Adding Assets</label>
        <locationX>505</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Borrower_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Adding_Liabilities</name>
        <label>Set Stage to Adding Liabilities</label>
        <locationX>4340</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding_Liabilities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Applicant_Liabilities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Adding_Real_Estate_And_Rest_Array_Length</name>
        <label>Set Stage to Adding Real Estate And Rest Array Length</label>
        <locationX>7246</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding_Real_Estate_Assets_Liabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Length_RealEstate_Assets_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealEstate_Asset_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealEstate_Asset_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Section</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RealEstateAsset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealEstateAssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RealEstateAssetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealEstateAssetNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RealEstateAssetNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Should_Move_To_Previous_Section_From_RealEstate_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Length_RealEstate_Assets_Array</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedRealEstateAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Review</name>
        <label>Set Stage to Review</label>
        <locationX>8813</locationX>
        <locationY>1230</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Go_Back_to_Borrower_selection</name>
        <label>Go Back to Borrower selection</label>
        <locationX>8041</locationX>
        <locationY>2028</locationY>
        <defaultConnectorLabel>End flow</defaultConnectorLabel>
        <rules>
            <name>Back_to_Borrower_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldRecurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Adding_Assets</targetReference>
            </connector>
            <label>Back to Borrower Screen</label>
        </rules>
        <rules>
            <name>Back_to_Real_Estate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Move_To_Previous_Section_From_Review</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Real_Estate_Asset_0</targetReference>
            </connector>
            <label>Back to Real Estate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_to_Next_section</name>
        <label>Go to Next section ?</label>
        <locationX>2789</locationX>
        <locationY>1516</locationY>
        <defaultConnector>
            <targetReference>Call_Asset_Subflow_in_Edit_Mode_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit Existing</defaultConnectorLabel>
        <rules>
            <name>Create_New_FinancialAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAddNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Asset_Subflow_in_Edit_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>Go_Back_to_Borrower_Selection_From_FinancialAssets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Move_To_Previous_Section_From_Financial_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Financial_Asset</targetReference>
            </connector>
            <label>Go Back to Borrower Selection</label>
        </rules>
        <rules>
            <name>Next_Section</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Arrays_and_Counter_For_Other_Assets</targetReference>
            </connector>
            <label>Next Section</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_to_Next_section_Financial_Liability</name>
        <label>Go to Next section ?</label>
        <locationX>6126</locationX>
        <locationY>1304</locationY>
        <defaultConnector>
            <targetReference>Call_Financial_Liability_Subflow_in_Create_or_Edit_Mode_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Financial_Liability_From_OtherAssetsScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAddNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Financial_Liability_Subflow_in_Create_or_Edit_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>Go_back_to_Other_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Move_To_Previous_Section_From_Financial_Liability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Financial_Liability</targetReference>
            </connector>
            <label>Go back to Other Assets</label>
        </rules>
        <rules>
            <name>Next_Section_From_FinancialLiability</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFinancialLiability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedFinancialLiability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Array_Length_to_Zero_FinancialLiability</targetReference>
            </connector>
            <label>Next Section</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_to_Next_Section_From_OtherLiability</name>
        <label>Go to Next section ?</label>
        <locationX>6964</locationX>
        <locationY>1581</locationY>
        <defaultConnector>
            <targetReference>Call_Other_Liability_Subflow_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_OtherLiability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAddNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Other_Liability_Subflow_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>Go_Back_To_Financial_Liability_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Move_To_Previous_Section_From_Other_Liability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Other_Liability</targetReference>
            </connector>
            <label>Go Back To Financial Liability</label>
        </rules>
        <rules>
            <name>Next_Section_RealEstate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedOtherLiability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedOtherLiability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Adding_Real_Estate_And_Rest_Array_Length</targetReference>
            </connector>
            <label>Next Section</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_to_Next_section_From_RealEstate</name>
        <label>Go to Next section ?</label>
        <locationX>8660</locationX>
        <locationY>1505</locationY>
        <defaultConnector>
            <targetReference>Call_Real_Estate_Asset_Subflow_in_Create_or_Edit_Mode_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_RealEstate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAddNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Real_Estate_Asset_Subflow_in_Create_or_Edit_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>Go_Back_to_Other_Liability_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Move_To_Previous_Section_From_RealEstate_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Real_Estate_Asset</targetReference>
            </connector>
            <label>Go Back to Other Liability</label>
        </rules>
        <rules>
            <name>Next_Section_For_RealEstateAsset</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRealEstateAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRealEstateAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Calculated_Fields</targetReference>
            </connector>
            <label>Next Section</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_to_OtherAssets_Section</name>
        <label>Go to Next section ?</label>
        <locationX>4024</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Call_Other_Asset_Subflow_in_Edit_or_Create_Mode_FSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit Existing</defaultConnectorLabel>
        <rules>
            <name>Create_New_OtherAsset_From_Choices_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAddNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Other_Asset_Subflow_in_Edit_or_Create_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>Go_Back_To_Financial_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Move_To_Previous_Section_From_Other_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Other_Asset</targetReference>
            </connector>
            <label>Go Back To Financial Assets</label>
        </rules>
        <rules>
            <name>Next_Section_OtherAssets_FromChoices_Screen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedOtherAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedOtherAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Section_as_Financial_Liability_And_Reset_Array_Length</targetReference>
            </connector>
            <label>Next Section</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Asset_exists</name>
        <label>If Asset exists</label>
        <locationX>1921</locationX>
        <locationY>1375</locationY>
        <defaultConnector>
            <targetReference>Prepare_Assets_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Asset_Id_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Financial_Asset_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object</targetReference>
            </connector>
            <label>If Asset Id Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Financial_Liability_exists</name>
        <label>If Financial Liability exists</label>
        <locationX>5226</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>Prepare_Financial_Liability_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Financial Liability Exists</defaultConnectorLabel>
        <rules>
            <name>If_Financial_Asset_Id_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Financial_Liability_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Loan_Applicant_Liability_junction_object</targetReference>
            </connector>
            <label>If Financial Liability Id Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_Assets_exist_for_selected_Borrower</name>
        <label>If No Assets exist for selected Borrower</label>
        <locationX>2606</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Select_Financial_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AssetIds_array_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Length_Financial_Assets_Array</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Asset_Question</targetReference>
            </connector>
            <label>If AssetIds array empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_Borrowers_exist</name>
        <label>If No Borrowers exist</label>
        <locationX>1412</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>Select_a_Borrower_to_add_Assets_and_Liabilities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Borrowers Exist</defaultConnectorLabel>
        <rules>
            <name>If_BorrowerIds_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BorrowerIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Borrowers_exist</targetReference>
            </connector>
            <label>If BorrowerIds empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_Financial_Liability_exist_for_selected_Borrower</name>
        <label>If No Financial Liability exist for selected Borrower</label>
        <locationX>4699</locationX>
        <locationY>1196</locationY>
        <defaultConnector>
            <targetReference>Select_Financial_Liability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Financial Liability Exist</defaultConnectorLabel>
        <rules>
            <name>If_FinancialLiabilityIds_array_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialLiabilityIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Length_Financial_Liability_Array</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_new_financialLiabilityQuestion</targetReference>
            </connector>
            <label>If FinancialLiabilityIds array empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_Other_Assets_exist_for_selected_Borrower</name>
        <label>If No Other Assets exist for selected Borrower</label>
        <locationX>3833</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>Select_Other_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_OtherAssetIds_array_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OtherAssetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Length_Other_Assets_Array</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_new_Other_asset_question</targetReference>
            </connector>
            <label>If OtherAssetIds array empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_Other_Liability_exist_for_selected_Borrower</name>
        <label>If No Other Liability exist for selected Borrower</label>
        <locationX>6441</locationX>
        <locationY>1218</locationY>
        <defaultConnector>
            <targetReference>Select_Other_Liability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Other_LiabilityIds_array_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OtherLiabilityIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Length_Other_Liability_Array</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_other_liability_question</targetReference>
            </connector>
            <label>If Other LiabilityIds array empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_RealEstate_Assets_exist_for_selected_Borrower</name>
        <label>If No Real Esatate Assets exist for selected Borrower</label>
        <locationX>7947</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Select_RealEstate_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_RealEstatAssetIds_array_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RealEstateAssetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Length_RealEstate_Assets_Array</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRealEsateAssetquestion</targetReference>
            </connector>
            <label>If RealEstateAssetIds array empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Asset_exists</name>
        <label>If Other Asset exists</label>
        <locationX>3433</locationX>
        <locationY>1001</locationY>
        <defaultConnector>
            <targetReference>Prepare_Other_Assets_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Asset Exists</defaultConnectorLabel>
        <rules>
            <name>If_Other_Asset_Id_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OtherAsset_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object_OtherAsset_Section</targetReference>
            </connector>
            <label>If Other Asset Id Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Liability_exists</name>
        <label>If Other Liability exists</label>
        <locationX>6991</locationX>
        <locationY>821</locationY>
        <defaultConnector>
            <targetReference>Prepare_Other_Liability_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Liability Exist</defaultConnectorLabel>
        <rules>
            <name>If_Other_Liability_Id_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Other_Liability_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Loan_Applicant_Liability_junction_object_0</targetReference>
            </connector>
            <label>If Other Liability Id Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_RealEstate_Asset_exists</name>
        <label>If Real Estate Asset exists</label>
        <locationX>8443</locationX>
        <locationY>645</locationY>
        <defaultConnector>
            <targetReference>Prepare_RealEstate_Assets_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_RealEstate_Asset_Id_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RealEstate_Asset_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Loan_Applicant_Asset_junction_object_0_0</targetReference>
            </connector>
            <label>If Real Estate Asset Id Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_to_Section</name>
        <label>Route to Section</label>
        <locationX>4604</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Reset_Financial_Liability_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_to_Financial_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Section</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FinancialLiability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Financial_Liability_Variables</targetReference>
            </connector>
            <label>Go to Financial Liability</label>
        </rules>
        <rules>
            <name>Go_to_Other_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Section</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OtherLiability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Array_Length_to_Zero_FinancialLiability</targetReference>
            </connector>
            <label>Go to Other Liability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_Next_Section_or_Create_New</name>
        <label>Skip to Next Section or Create New</label>
        <locationX>2859</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>Reset_Arrays_and_Counter_For_Other_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_back_to_Borrowers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Back_To_Borrowers_From_AddNewFinancialAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Financial_Asset</targetReference>
            </connector>
            <label>Go back to Borrowers</label>
        </rules>
        <rules>
            <name>Create_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Add_New_Financial_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Asset_Subflow_in_Create_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_Next_Section_or_Create_New_0</name>
        <label>Skip to Next Section or Create New</label>
        <locationX>4014</locationX>
        <locationY>1350</locationY>
        <defaultConnector>
            <targetReference>Set_Section_as_Financial_Liability_And_Reset_Array_Length</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_to_Financial_Assets_From_OtherAssetsChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Back_To_FinancialAssets_From_OtherAssetChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Other_Asset</targetReference>
            </connector>
            <label>Back to Financial Assets</label>
        </rules>
        <rules>
            <name>Create_New_Other_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Add_New_Other_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Other_Asset_Subflow_in_Create_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_Next_Section_or_Create_New_0_0</name>
        <label>Skip to Next Section or Create New</label>
        <locationX>5555</locationX>
        <locationY>1615</locationY>
        <defaultConnector>
            <targetReference>Reset_Array_Length_to_Zero_FinancialLiability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_back_to_Other_Assets_From_FinancialLiability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Back_to_OtherAssets_From_FinancialLiability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Financial_Liability</targetReference>
            </connector>
            <label>Go back to Other Assets</label>
        </rules>
        <rules>
            <name>Create_New_Financial_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Add_New_Financial_Liability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Financial_Liability_Subflow_in_Create_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_Next_Section_or_Create_New_0_0_0</name>
        <label>Skip to Next Section or Create New</label>
        <locationX>7174</locationX>
        <locationY>1078</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_to_Adding_Real_Estate_And_Rest_Array_Length</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_Back_to_Financial_Liability_from_Other_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Back_To_FinancialLiability_From_OtherLiability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Other_Liability</targetReference>
            </connector>
            <label>Go Back to Financial Liability from Other Liability</label>
        </rules>
        <rules>
            <name>Create_New_Other_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Add_New_Other_Liability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Other_Liability_Subflow_in_Create_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_Next_Section_or_Create_New_0_0_0_0</name>
        <label>Skip to Next Section or Create New</label>
        <locationX>8250</locationX>
        <locationY>860</locationY>
        <defaultConnector>
            <targetReference>Reset_Calculated_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_Back_to_Other_Liability_From_RealEstate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Back_To_OtherLiability_From_RealEstate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Previous_Section_Flag_from_Real_Estate_Asset</targetReference>
            </connector>
            <label>Go Back to Other Liability</label>
        </rules>
        <rules>
            <name>Create_New_Real_Esate_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Add_New_RealEstate_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Real_Estate_Asset_Subflow_in_Create_Mode_FSC</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Section_to_Route</name>
        <label>Which Section to Route</label>
        <locationX>2159</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Reset_Arrays_and_Counter_For_Financial_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Financial_Asset_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Section</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FinancialAsset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Arrays_and_Counter_For_Financial_Assets</targetReference>
            </connector>
            <label>Go to Financial Asset Section</label>
        </rules>
        <rules>
            <name>Go_to_Other_Asset_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Section</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OtherAsset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Arrays_and_Counter_For_Other_Assets</targetReference>
            </connector>
            <label>Go to Other Asset Section</label>
        </rules>
        <rules>
            <name>Go_to_Real_Estate_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Section</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RealEstateAsset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Adding_Real_Estate_And_Rest_Array_Length</targetReference>
            </connector>
            <label>Go to Real Estate Section</label>
        </rules>
    </decisions>
    <formulas>
        <name>Value_TotalFinancialAssetAmount</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!TotalFinancialAssetAmount}),0,{!TotalFinancialAssetAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Value_TotalFinancialLiabilityMonthlyAmt</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!TotalFinLiabilityMonthlyAmt}),0,{!TotalFinLiabilityMonthlyAmt})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Value_TotalOtherAssetAmount</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!TotalOtherAssetAmount}),0, {!TotalOtherAssetAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Value_TotalOtherFinancialLiabilityMonthlyAmt</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!TotalOtherFinLiabilityMonthlyAmt}),0,{!TotalOtherFinLiabilityMonthlyAmt})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Assets and Liabilities (FSC) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assets and Liabilities (FSC)</label>
    <loops>
        <name>Iterate_over_Borrower_records</name>
        <label>Iterate over Borrower records</label>
        <locationX>1093</locationX>
        <locationY>162</locationY>
        <assignNextValueToReference>Borrower_Record</assignNextValueToReference>
        <collectionReference>BorrowerRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Borrower_Choices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_Borrowers_exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Loan_Applicant_Asset_junction_object</name>
        <label>Begin Financial Asset Section - Iterate over Loan Applicant Asset junction</label>
        <locationX>2166</locationX>
        <locationY>941</locationY>
        <assignNextValueToReference>LoanApplicantAsset_Record</assignNextValueToReference>
        <collectionReference>LoanApplicantAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Financial_Assets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_Assets_exist_for_selected_Borrower</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Loan_Applicant_Asset_junction_object_0_0</name>
        <label>Begin Real Estate Asset - Iterate over Loan Applicant Asset junction object</label>
        <locationX>7869</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>LoanApplicantAsset_Record</assignNextValueToReference>
        <collectionReference>LoanApplicantAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_RealEstate_Assets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_RealEstate_Assets_exist_for_selected_Borrower</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Loan_Applicant_Asset_junction_object_OtherAsset_Section</name>
        <label>Begin Other Asset section - Iterate over Loan Applicant Asset junction</label>
        <locationX>3334</locationX>
        <locationY>415</locationY>
        <assignNextValueToReference>LoanApplicantAsset_Record</assignNextValueToReference>
        <collectionReference>LoanApplicantAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Other_Assets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_Other_Assets_exist_for_selected_Borrower</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Loan_Applicant_Liability_junction_object</name>
        <label>Begin Financial Liability - Iterate over Loan Applicant Liability junction</label>
        <locationX>5176</locationX>
        <locationY>213</locationY>
        <assignNextValueToReference>LoanApplicantLiability_Record</assignNextValueToReference>
        <collectionReference>LoanApplicantLiabilities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Financial_Liability</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_Financial_Liability_exist_for_selected_Borrower</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Loan_Applicant_Liability_junction_object_0</name>
        <label>Begin Other Liability - Iterate over Loan Applicant Liability junction object</label>
        <locationX>6438</locationX>
        <locationY>543</locationY>
        <assignNextValueToReference>LoanApplicantLiability_Record</assignNextValueToReference>
        <collectionReference>LoanApplicantLiabilities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Other_Liability</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_Other_Liability_exist_for_selected_Borrower</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FSCLending</processType>
    <recordLookups>
        <name>Get_Financial_Assets</name>
        <label>Get Financial Assets</label>
        <locationX>1931</locationX>
        <locationY>936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Asset_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetClass</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanApplicantAsset_Record.LoanApplicationAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicationAsset</object>
        <outputAssignments>
            <assignToReference>Financial_Asset_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Financial_Asset_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Financial_Liability</name>
        <label>Get Financial Liability</label>
        <locationX>5040</locationX>
        <locationY>788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Financial_Liability_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanApplicantLiability_Record.LoanApplicationLiabilityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LiabilityClass</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial</stringValue>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicationLiability</object>
        <outputAssignments>
            <assignToReference>Financial_Liability_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Financial_Liability_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Applicant_Assets</name>
        <label>Get Loan Applicant Assets</label>
        <locationX>1780</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Section_to_Route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </filters>
        <object>LoanApplicantAsset</object>
        <outputReference>LoanApplicantAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LoanApplicationAssetId</queriedFields>
        <queriedFields>LoanApplicantId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Applicant_Liabilities</name>
        <label>Get Loan Applicant Liabilities</label>
        <locationX>4675</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_to_Section</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </filters>
        <object>LoanApplicantLiability</object>
        <outputReference>LoanApplicantLiabilities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LoanApplicantId</queriedFields>
        <queriedFields>LoanApplicationLiabilityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Assets</name>
        <label>Get Other Assets</label>
        <locationX>3679</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Other_Asset_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetClass</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanApplicantAsset_Record.LoanApplicationAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicationAsset</object>
        <outputAssignments>
            <assignToReference>OtherAsset_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OtherAsset_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Liability</name>
        <label>Get Other Liability</label>
        <locationX>6851</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Other_Liability_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanApplicantLiability_Record.LoanApplicationLiabilityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LiabilityClass</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicationLiability</object>
        <outputAssignments>
            <assignToReference>Other_Liability_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Other_Liability_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RealEstate_Assets</name>
        <label>Get Real Estate Assets</label>
        <locationX>8053</locationX>
        <locationY>735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_RealEstate_Asset_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetClass</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Real Estate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanApplicantAsset_Record.LoanApplicationAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicationAsset</object>
        <outputAssignments>
            <assignToReference>RealEstate_Asset_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RealEstate_Asset_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Residential_Loan_Application_record</name>
        <label>Get Residential Loan Application record</label>
        <locationX>8811</locationX>
        <locationY>903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_to_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ResidentialLoanApplication</object>
        <outputAssignments>
            <assignToReference>TotalFinLiabilityMonthlyAmt</assignToReference>
            <field>TotalFinLiabilityMonthlyAmt</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalFinancialAssetAmount</assignToReference>
            <field>TotalFinancialAssetAmount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalOtherAssetAmount</assignToReference>
            <field>TotalOtherAssetAmount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalOtherFinLiabilityMonthlyAmt</assignToReference>
            <field>TotalOtherFinLiabilityMonthlyAmt</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetBorrowers</name>
        <label>GetBorrowers</label>
        <locationX>846</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Borrower_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicant</object>
        <outputReference>BorrowerRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Add_New_Asset_Question</name>
        <label>Add New Asset Question</label>
        <locationX>2734</locationX>
        <locationY>1065</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_to_Next_Section_or_Create_New</targetReference>
        </connector>
        <fields>
            <name>AddNewFinancialAssetChoice</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>YesNoChoiceNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>YesNoChoiceValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>FinancialAssetQuestionTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <elementReference>FinancialAssetHelpText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Add_New_Financial_Asset</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddNewFinancialAsset_Footer</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToBorrowersButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Back_To_Borrowers_From_AddNewFinancialAsset</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_new_financialLiabilityQuestion</name>
        <label>Add new financial liability question</label>
        <locationX>5398</locationX>
        <locationY>1487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_to_Next_Section_or_Create_New_0_0</targetReference>
        </connector>
        <fields>
            <name>AddNewFinancialLiabilityChoice</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>YesNoChoiceNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>YesNoChoiceValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>FinancialLiabilityQuestionText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <elementReference>FinancialLiabilityHelpText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Add_New_Financial_Liability</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddFinancialLiability_Footer</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToNonAccountAssetsButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Back_to_OtherAssets_From_FinancialLiability</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_new_Other_asset_question</name>
        <label>Add new Other asset question</label>
        <locationX>3835</locationX>
        <locationY>1153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_to_Next_Section_or_Create_New_0</targetReference>
        </connector>
        <fields>
            <name>AddOtherAssetChoice</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>YesNoChoiceNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>YesNoChoiceValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>OtherAssetQuestionTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <elementReference>OtherAssetHelpText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Add_New_Other_Asset</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddOtherAsset_Footer</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToFinancialAssetsButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Back_To_FinancialAssets_From_OtherAssetChoice</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_other_liability_question</name>
        <label>Add other liability question</label>
        <locationX>6903</locationX>
        <locationY>1004</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_to_Next_Section_or_Create_New_0_0_0</targetReference>
        </connector>
        <fields>
            <name>AddOtherLiabilityChoice</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>YesNoChoiceNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>YesNoChoiceValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>MonthlyExpenseQuestionText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <elementReference>MonthlyExpenseHelpText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Add_New_Other_Liability</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddOtherLiability_Footer</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToFinancialLiabilitiesButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Back_To_FinancialLiability_From_OtherLiability</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddRealEsateAssetquestion</name>
        <label>Add Real Estate Asset question</label>
        <locationX>8128</locationX>
        <locationY>1123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_to_Next_Section_or_Create_New_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Add_New_Real_Estate_Asset</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>YesNoChoiceNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>YesNoChoiceValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>RealEstateAssetQuestionText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <elementReference>RealEstateAssetQuestionHelpText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Add_New_RealEstate_Asset</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddNewRealEstateAsset_Footer</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToMonthlyExpensesButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Back_To_OtherLiability_From_RealEstate</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Borrowers_exist</name>
        <label>No Borrowers exist</label>
        <locationX>1486</locationX>
        <locationY>552</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoBorrowersTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;No Borrowers Found&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoBorrowersPageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;There are no borrowers associated with this mortgage application. Enter borrowers for the application and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review</name>
        <label>Review</label>
        <locationX>8812</locationX>
        <locationY>2028</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_Back_to_Borrower_selection</targetReference>
        </connector>
        <fields>
            <name>Review_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Total Amounts:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ReviewDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Total Financial Assets: &lt;/b&gt;{!Value_TotalFinancialAssetAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayTextTotalNonAccountAssets</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Total Non-Account Assets: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Value_TotalOtherAssetAmount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayTextTotalFinLiabPayment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Total Monthly Financial Liabilities Payment: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Value_TotalFinancialLiabilityMonthlyAmt}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayTextTotalMonthlyExpenses</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Total Monthly Expenses Payment: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Value_TotalOtherFinancialLiabilityMonthlyAmt}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Message_For_Selecting_Different_BOrrower</name>
            <fieldText>&lt;p&gt;To add assets and liabilities for another borrower, click Different Borrower&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BackToRealEstateButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>BackToRealEstateAssetsButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Move_To_Previous_Section_From_Review</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RecursionFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>DoneButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>DifferentBorrowerButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldRecurse</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_a_Borrower_to_add_Assets_and_Liabilities</name>
        <label>Select a Borrower</label>
        <locationX>1714</locationX>
        <locationY>163</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Loan_Applicant_Assets</targetReference>
        </connector>
        <fields>
            <name>BorrowerList</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>BorrowerNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>BorrowerIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>SelectedBorrower</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>BorrowerListTitle</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedBorrower</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Financial_Asset</name>
        <label>Select Financial Asset</label>
        <locationX>2588</locationX>
        <locationY>1169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_to_Next_section</targetReference>
        </connector>
        <fields>
            <name>AssetChoices</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>AssetNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>AssetIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>FinancialAssetChoicesTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAsset</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddAssetButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewFinancialAssetButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldAddNew</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinancialAssetFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToBorrowersButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Move_To_Previous_Section_From_Financial_Asset</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Financial_Liability</name>
        <label>Select Financial Liability</label>
        <locationX>5399</locationX>
        <locationY>1273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_to_Next_section_Financial_Liability</targetReference>
        </connector>
        <fields>
            <name>FinancialLiabilityChoices</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>FinancialLiabilityNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>FinancialLiabilityIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>SelectFinancialLiabilityTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedFinancialLiability</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddFinancialLiabilityButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewFinancialLiabilityButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldAddNew</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinancialLiabilityFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToNonAccountAssetsButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Move_To_Previous_Section_From_Financial_Liability</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Other_Asset</name>
        <label>Select Other Asset</label>
        <locationX>3840</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_to_OtherAssets_Section</targetReference>
        </connector>
        <fields>
            <name>OtherAssetChoices</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>OtherAssetNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>OtherAssetIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>SelectOtherAssetTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedOtherAsset</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddOtherAssetButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewNonAccountAssetButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldAddNew</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OtherAssetsFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToFinancialAssetsButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Move_To_Previous_Section_From_Other_Asset</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Other_Liability</name>
        <label>Select Other Liability</label>
        <locationX>6914</locationX>
        <locationY>1357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_to_Next_Section_From_OtherLiability</targetReference>
        </connector>
        <fields>
            <name>OtherLiabilityChoices</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>OtherLiabilityNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>OtherLiabilityIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>SelectMonthlyExpenseTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedOtherLiability</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddOtherLiabilityButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewMonthlyExpenseButton</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldAddNew</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RealEstateAssetFooter</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToFinancialLiabilitiesButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Move_To_Previous_Section_From_Other_Liability</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_RealEstate_Asset</name>
        <label>Select Real Estate Asset</label>
        <locationX>8178</locationX>
        <locationY>1518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_to_Next_section_From_RealEstate</targetReference>
        </connector>
        <fields>
            <name>RealEstateAssetChoices</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>RealEstateAssetNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>RealEstateAssetIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>SelectRealEstateAssetTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRealEstateAsset</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddNewOtherAssetButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>NewRealEstateAssetButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ShouldAddNew</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RealEstateAssetFooter1</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <elementReference>BackToMonthlyExpensesButtonText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <elementReference>NextButtonText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Should_Move_To_Previous_Section_From_RealEstate_Asset</assignToReference>
                <name>renderNext</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Adding_Assets</name>
        <isActive>true</isActive>
        <label>Adding Assets</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Adding_Liabilities</name>
        <isActive>true</isActive>
        <label>Adding Liabilities</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Adding_Real_Estate_Assets_Liabilities</name>
        <isActive>true</isActive>
        <label>Adding Real Estate Assets and Liabilities</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Review_Stage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Populate_Yes_No_Choices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Asset_Subflow_in_Create_Mode_FSC</name>
        <label>Call Asset Subflow in Create Mode</label>
        <locationX>2683</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Reset_Asset_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>FinancialAsset</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Asset_Subflow_in_Edit_Mode_FSC</name>
        <label>Call Asset Subflow in Edit Mode</label>
        <locationX>2929</locationX>
        <locationY>1395</locationY>
        <connector>
            <targetReference>Reset_Asset_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>FinancialAsset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedRecordIdFromListView</name>
            <value>
                <elementReference>SelectedAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShouldCreateNew</name>
            <value>
                <elementReference>ShouldAddNew</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Financial_Liability_Subflow_in_Create_Mode_FSC</name>
        <label>Call Financial Liability Subflow in Create Mode</label>
        <locationX>5822</locationX>
        <locationY>1603</locationY>
        <connector>
            <targetReference>Reset_Financial_Liability_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>FinancialLiability</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Financial_Liability_Subflow_in_Create_or_Edit_Mode_FSC</name>
        <label>Call Financial Liability Subflow in Create or Edit Mode</label>
        <locationX>6484</locationX>
        <locationY>1522</locationY>
        <connector>
            <targetReference>Reset_Financial_Liability_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>FinancialLiability</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedRecordIdFromListView</name>
            <value>
                <elementReference>SelectedFinancialLiability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShouldCreateNew</name>
            <value>
                <elementReference>ShouldAddNew</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Other_Asset_Subflow_in_Create_Mode_FSC</name>
        <label>Call Other Asset Subflow in Create Mode</label>
        <locationX>4397</locationX>
        <locationY>1233</locationY>
        <connector>
            <targetReference>Reset_Other_Asset_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>OtherAsset</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Other_Asset_Subflow_in_Edit_or_Create_Mode_FSC</name>
        <label>Call Other Asset Subflow in Edit or Create Mode</label>
        <locationX>3957</locationX>
        <locationY>720</locationY>
        <connector>
            <targetReference>Reset_Other_Asset_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>OtherAsset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedRecordIdFromListView</name>
            <value>
                <elementReference>SelectedOtherAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShouldCreateNew</name>
            <value>
                <elementReference>ShouldAddNew</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Other_Liability_Subflow_FSC</name>
        <label>Call Other Liability Subflow</label>
        <locationX>7799</locationX>
        <locationY>1578</locationY>
        <connector>
            <targetReference>Reset_Other_Liability_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>OtherLiability</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedRecordIdFromListView</name>
            <value>
                <elementReference>SelectedOtherLiability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShouldCreateNew</name>
            <value>
                <elementReference>ShouldAddNew</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Other_Liability_Subflow_in_Create_Mode_FSC</name>
        <label>Call Other Liability Subflow in Create Mode</label>
        <locationX>7366</locationX>
        <locationY>922</locationY>
        <connector>
            <targetReference>Reset_Other_Liability_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>FinancialLiability</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Real_Estate_Asset_Subflow_in_Create_Mode_FSC</name>
        <label>Call Real Estate Asset Subflow in Create Mode</label>
        <locationX>8384</locationX>
        <locationY>1068</locationY>
        <connector>
            <targetReference>Reset_Real_Estate_Asset_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>RealEstateAsset</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Real_Estate_Asset_Subflow_in_Create_or_Edit_Mode_FSC</name>
        <label>Call Real Estate Asset Subflow in Create or Edit Mode</label>
        <locationX>8481</locationX>
        <locationY>1230</locationY>
        <connector>
            <targetReference>Reset_Real_Estate_Asset_choices</targetReference>
        </connector>
        <flowName>FINS_Assets_and_Liabilities_Subflow_FSC</flowName>
        <inputAssignments>
            <name>Current_Borrower</name>
            <value>
                <elementReference>SelectedBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Loan_Application_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScreenName</name>
            <value>
                <stringValue>RealEstateAsset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedRecordIdFromListView</name>
            <value>
                <elementReference>SelectedRealEstateAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShouldCreateNew</name>
            <value>
                <elementReference>ShouldAddNew</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>BackToBorrowersButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Back to Borrowers</text>
    </textTemplates>
    <textTemplates>
        <name>BackToFinancialAssetsButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Back to Financial Assets</text>
    </textTemplates>
    <textTemplates>
        <name>BackToFinancialLiabilitiesButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Back to Financial Liabilities</text>
    </textTemplates>
    <textTemplates>
        <name>BackToMonthlyExpensesButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Back to Monthly Expenses</text>
    </textTemplates>
    <textTemplates>
        <name>BackToNonAccountAssetsButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Back to Non-Account Assets</text>
    </textTemplates>
    <textTemplates>
        <name>BackToRealEstateAssetsButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Back to Real Estate Assets</text>
    </textTemplates>
    <textTemplates>
        <name>BorrowerListTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select a borrower to add or edit asset and liability information</text>
    </textTemplates>
    <textTemplates>
        <name>DifferentBorrowerButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Different Borrower</text>
    </textTemplates>
    <textTemplates>
        <name>DoneButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Done</text>
    </textTemplates>
    <textTemplates>
        <name>FinancialAssetChoicesTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select or add a financial asset to edit its information</text>
    </textTemplates>
    <textTemplates>
        <name>FinancialAssetHelpText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Financial assets include bank accounts, retirement accounts, trust accounts, cash value of life insurance, and other accounts.</text>
    </textTemplates>
    <textTemplates>
        <name>FinancialAssetQuestionTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Do you want to add a financial asset?</text>
    </textTemplates>
    <textTemplates>
        <name>FinancialLiabilityHelpText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Financial liabilities include credit card debt, revolving credit accounts, installment payment accounts, leases and other personal debt.</text>
    </textTemplates>
    <textTemplates>
        <name>FinancialLiabilityQuestionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Do you want to add a financial liability?</text>
    </textTemplates>
    <textTemplates>
        <name>MonthlyExpenseHelpText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Monthly expenses include alimony, child support, separate maintenance, job-related, and other expenses.</text>
    </textTemplates>
    <textTemplates>
        <name>MonthlyExpenseQuestionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Do you want to add a monthly expense?</text>
    </textTemplates>
    <textTemplates>
        <name>NewFinancialAssetButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Financial Asset</text>
    </textTemplates>
    <textTemplates>
        <name>NewFinancialLiabilityButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Financial Liability</text>
    </textTemplates>
    <textTemplates>
        <name>NewMonthlyExpenseButton</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Monthly Expense</text>
    </textTemplates>
    <textTemplates>
        <name>NewNonAccountAssetButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Non-Account Asset</text>
    </textTemplates>
    <textTemplates>
        <name>NewRealEstateAssetButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Real Estate Asset</text>
    </textTemplates>
    <textTemplates>
        <name>NextButtonText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Next</text>
    </textTemplates>
    <textTemplates>
        <name>No_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>OtherAssetHelpText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Non-account assets include earnest money, sweat equity, rent credit, trade equity, employer assistance, and other miscellaneous assets.</text>
    </textTemplates>
    <textTemplates>
        <name>OtherAssetQuestionTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Do you want to add a non-account asset?</text>
    </textTemplates>
    <textTemplates>
        <name>RealEstateAssetQuestionHelpText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Real estate includes properties and undeveloped land that you have an ownership interest in or you hold a mortgage for. Real estate doesn&apos;t include the property you&apos;re purchasing or refinancing.</text>
    </textTemplates>
    <textTemplates>
        <name>RealEstateAssetQuestionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Do you want to add a real estate asset?</text>
    </textTemplates>
    <textTemplates>
        <name>SelectFinancialLiabilityTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select or add a financial liability to edit its information</text>
    </textTemplates>
    <textTemplates>
        <name>SelectMonthlyExpenseTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select or add a monthly expense to add or edit its information</text>
    </textTemplates>
    <textTemplates>
        <name>SelectOtherAssetTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select or add a non-account asset to edit its information</text>
    </textTemplates>
    <textTemplates>
        <name>SelectRealEstateAssetTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select or add a real estate asset to edit its information</text>
    </textTemplates>
    <textTemplates>
        <name>Yes_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <variables>
        <name>AssetCoHolders</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Back_To_Borrowers_From_AddNewFinancialAsset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Back_To_FinancialAssets_From_OtherAssetChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Back_To_FinancialLiability_From_OtherLiability</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Back_to_OtherAssets_From_FinancialLiability</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Back_To_OtherLiability_From_RealEstate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to loop through borrowers</description>
        <name>Borrower_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>BorrowerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BorrowerNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BorrowerRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>Financial_Asset_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Financial_Asset_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Financial_Liability_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Financial_Liability_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FinancialLiabilityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialLiabilityNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Length_Financial_Assets_Array</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Length_Financial_Liability_Array</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Length_Other_Assets_Array</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Length_Other_Liability_Array</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Length_RealEstate_Assets_Array</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable to loop over Loan Applicant Asset junction object.</description>
        <name>LoanApplicantAsset_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantAsset</objectType>
    </variables>
    <variables>
        <name>LoanApplicantAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantAsset</objectType>
    </variables>
    <variables>
        <name>LoanApplicantLiabilities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability</objectType>
    </variables>
    <variables>
        <name>LoanApplicantLiability</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability</objectType>
    </variables>
    <variables>
        <name>LoanApplicantLiability_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability</objectType>
    </variables>
    <variables>
        <name>LoanApplicationAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationAsset</objectType>
    </variables>
    <variables>
        <name>Other_Liability_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Other_Liability_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OtherAsset_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OtherAsset_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OtherAssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherAssetNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherLiabilityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherLiabilityNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RealEstate_Asset_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RealEstate_Asset_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RealEstateAssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RealEstateAssetNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0cdRM0000004C9DYAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>Section</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FinancialAsset</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAssetRecordWithValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationAsset</objectType>
    </variables>
    <variables>
        <name>SelectedAssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBorrower</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedFinancialLiability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedOtherAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedOtherLiability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRealEstateAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Should_Add_New_Financial_Asset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Should_Add_New_Financial_Liability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Should_Add_New_Other_Asset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Should_Add_New_Other_Liability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Should_Add_New_RealEstate_Asset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Should_Move_To_Previous_Section_From_Financial_Asset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Should_Move_To_Previous_Section_From_Financial_Liability</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Should_Move_To_Previous_Section_From_Other_Asset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Should_Move_To_Previous_Section_From_Other_Liability</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Should_Move_To_Previous_Section_From_RealEstate_Asset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Should_Move_To_Previous_Section_From_Review</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldAddNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldAddNewItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldRecurse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TotalFinancialAssetAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalFinLiabilityMonthlyAmt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalOtherAssetAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalOtherFinLiabilityMonthlyAmt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>YesNoChoiceNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesNoChoiceValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
