force-app/main/default/flows/FINS_Retail_Banking_Starter_Begin_Swarming_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Adds the Service Slack App to an existing public channel.</description>
        <name>Add_Service_Slack_App_to_Conversation</name>
        <label>Add Service Slack App</label>
        <locationX>1370</locationX>
        <locationY>2606</locationY>
        <actionName>slackJoinChannel</actionName>
        <actionType>slackJoinChannel</actionType>
        <connector>
            <targetReference>Set_Slack_Variables_for_Swarm_in_Thread</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannelSelector.selectedChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackJoinChannel</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Slack_Channel</name>
        <label>Create Slack Channel</label>
        <locationX>842</locationX>
        <locationY>2366</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Set_Swarm_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Slack_Channel_Action_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <elementReference>PrivateChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>SlackChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackCreateChannel</nameSegment>
        <outputParameters>
            <assignToReference>SlackChannel</assignToReference>
            <name>slackChannelId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Get Available Swarm Object</description>
        <name>Get_Available_Swarm_Object</name>
        <label>Get Available Swarm Object</label>
        <locationX>1535</locationX>
        <locationY>1190</locationY>
        <actionName>getAvailableSwarmObject</actionName>
        <actionType>getAvailableSwarmObject</actionType>
        <connector>
            <targetReference>Label_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getAvailableSwarmObject</nameSegment>
        <outputParameters>
            <assignToReference>channelName</assignToReference>
            <name>channelName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sObjectType</assignToReference>
            <name>objectApiName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recordNumber</assignToReference>
            <name>recordNameOrNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recordOwner</assignToReference>
            <name>recordOwnerId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Get channel properties.</description>
        <name>Get_Channel_Properties</name>
        <label>Get Channel Properties</label>
        <locationX>1502</locationX>
        <locationY>2366</locationY>
        <actionName>slackGetConversationInfo</actionName>
        <actionType>slackGetConversationInfo</actionType>
        <connector>
            <targetReference>Is_Conversation_Public</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannelSelector.selectedChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackGetConversationInfo</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Collaboration_Tool_Settings</name>
        <label>Get Collaboration Tool Settings</label>
        <locationX>1535</locationX>
        <locationY>278</locationY>
        <actionName>swarmingCollaborationToolSettings</actionName>
        <actionType>swarmingCollaborationToolSettings</actionType>
        <connector>
            <targetReference>Is_Skills_Based_Routing_Enabled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Collaboration_Settings_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>swarmingCollaborationToolSettings</nameSegment>
        <outputParameters>
            <assignToReference>CollaborationAppId</assignToReference>
            <name>collaborationAppId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CollaborationTool</assignToReference>
            <name>collaborationTool</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Is_Omni_Enabled</assignToReference>
            <name>isOmniSkillsRoutingEnabled</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invite_Swarm_Owner_to_Channel</name>
        <label>Invite Swarm Owner to Channel</label>
        <locationX>182</locationX>
        <locationY>5342</locationY>
        <actionName>slackInviteUsersToChannel</actionName>
        <actionType>slackInviteUsersToChannel</actionType>
        <connector>
            <targetReference>Send_Begin_Swarming_View_to_Channel</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Begin_Swarming_View_to_Channel</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userIdsToInvite</name>
            <value>
                <elementReference>SwarmOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackInviteUsersToChannel</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Parent_Message_of_Thread</name>
        <label>Parent Message of Thread</label>
        <locationX>446</locationX>
        <locationY>3614</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Pin_Message_in_Channel_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Finish_Begin_Swarming_Flow</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Swarm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>viewApiName</name>
            <value>
                <stringValue>swarming__swarm_message</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <outputParameters>
            <assignToReference>ThreadTimestamp</assignToReference>
            <name>slackMessageTimestamp</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Pin_Message_in_Channel</name>
        <label>Pin Message in Channel</label>
        <locationX>182</locationX>
        <locationY>5582</locationY>
        <actionName>slackPinMessage</actionName>
        <actionType>slackPinMessage</actionType>
        <connector>
            <targetReference>Get_Swarm_For_CollaborationRoomId_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Swarm_For_CollaborationRoomId_Update</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doesPinMessage</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessageTimestamp</name>
            <value>
                <elementReference>ThreadTimestamp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPinMessage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Pin_Message_in_Channel_0</name>
        <label>Pin Message in Channel</label>
        <locationX>446</locationX>
        <locationY>3734</locationY>
        <actionName>slackPinMessage</actionName>
        <actionType>slackPinMessage</actionType>
        <connector>
            <targetReference>Start_Swarm_Thread_Msg</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doesPinMessage</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessageTimestamp</name>
            <value>
                <elementReference>ThreadTimestamp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPinMessage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Begin_Swarming_View_to_Channel</name>
        <label>Send Begin Swarming View to Channel</label>
        <locationX>182</locationX>
        <locationY>5462</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Pin_Message_in_Channel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_Begin_Swarming_Flow</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Swarm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>viewApiName</name>
            <value>
                <stringValue>swarming__swarm_message</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <outputParameters>
            <assignToReference>ThreadTimestamp</assignToReference>
            <name>slackMessageTimestamp</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Start_Swarm_Thread_Msg</name>
        <label>Start Swarm Thread Msg</label>
        <locationX>446</locationX>
        <locationY>3854</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Get_Swarm_For_CollaborationUrl_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Finish_Begin_Swarming_Flow</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>LabelStartSwarmThreadMsg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessageTimestamp</name>
            <value>
                <elementReference>ThreadTimestamp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Label_Assignment</name>
        <label>Label Assignment</label>
        <locationX>1535</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>LabelForSwarmName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SwarmName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelForSwarmMemberName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SwarmMembersName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Swarms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Slack_Variables</name>
        <label>Set Slack Variables</label>
        <locationX>842</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>CollaborationUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://app.slack.com/client/{!SlackWorkspace}/{!SlackChannel}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SwarmOwnerId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>SwarmOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SwarmOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedSwarmOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HelpNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HelpNeededChannel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Swarm_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Slack_Variables_for_Swarm_in_Thread</name>
        <label>Set Slack Variables for Swarm in Thread</label>
        <locationX>1502</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>SlackChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SlackChannelSelector.selectedChannelId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SwarmOwnerId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>SwarmOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SwarmOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SwarmOwnerThread.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedSwarmOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SwarmOwnerThread.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HelpNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HelpNeededThread</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollaborationUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://app.slack.com/client/{!SlackWorkspace}/{!SlackChannelSelector.selectedChannelId}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedSwarmRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SwarmRecordNameThread</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Swarm_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Swarm_Owner</name>
        <label>Set Swarm Owner</label>
        <locationX>842</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>SelectedSwarmOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SwarmOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedSwarmRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SwarmRecordNameChannel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Slack_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_Variables_when_Collaboration_Tool_is_None</name>
        <label>Set up Variables when Collaboration Tool is None</label>
        <locationX>1898</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>SwarmOwner.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedSwarmOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Swarm_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Swarm_CollaborationRoomId_and_MessageKey_Dedicated_Channel</name>
        <label>Update Swarm CollaborationRoomId and MessageKey Dedicated Channel</label>
        <locationX>314</locationX>
        <locationY>6182</locationY>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationRoomId_Update.CollaborationRoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_CollaborationRoom_Dedicated_Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationRoomId_Update.MessageKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThreadTimestamp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CollaborationRoomId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Swarm_CollaborationRoomId_and_MessageKey_Dedicated_Channel_0</name>
        <label>Update Swarm CollaborationRoomId and MessageKey Dedicated Channel Already Present</label>
        <locationX>50</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationRoomId_Update.CollaborationRoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CollaborationRoom_if_Exists_Dedicated_Channel.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationRoomId_Update.MessageKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThreadTimestamp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CollaborationRoomId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Swarm_CollaborationUrl_And_MessageKey</name>
        <label>Update Swarm CollaborationUrl And MessageKey</label>
        <locationX>578</locationX>
        <locationY>4454</locationY>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationUrl_Update.CollaborationUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://app.slack.com/client/{!SlackWorkspace}/{!SlackChannel}/thread/{!SlackChannel}-{!ThreadTimestamp}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationUrl_Update.CollaborationRoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_CollaborationRoom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationUrl_Update.MessageKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThreadTimestamp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CollaborationUrl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Swarm_CollaborationUrl_And_MessageKey_0</name>
        <label>Update Swarm CollaborationUrl And MessageKey</label>
        <locationX>314</locationX>
        <locationY>4334</locationY>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationUrl_Update.CollaborationUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://app.slack.com/client/{!SlackWorkspace}/{!SlackChannel}/thread/{!SlackChannel}-{!ThreadTimestamp}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationUrl_Update.CollaborationRoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CollaborationRoom_if_Exists_Thread.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Swarm_For_CollaborationUrl_Update.MessageKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThreadTimestamp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CollaborationUrl</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SwarmInThread</name>
        <choiceText>&lt;b&gt;In an existing channel&lt;/b&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Use when you need to alert members of an existing swarm&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SwarmInThread</stringValue>
        </value>
    </choices>
    <choices>
        <name>SwarmOnChannel</name>
        <choiceText>&lt;b&gt;In a new channel&lt;/b&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Use when you need to assemble a team for a new issue.&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SwarmOnChannel</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Specified</description>
        <name>Check_Collaboration_Tool</name>
        <label>Check Collaboration Tool</label>
        <locationX>1535</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Set_up_Variables_when_Collaboration_Tool_is_None</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tool is None</defaultConnectorLabel>
        <rules>
            <name>Tool_is_Slack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollaborationTool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Swarming</targetReference>
            </connector>
            <label>Tool is Slack</label>
        </rules>
    </decisions>
    <decisions>
        <description>If user choose to swarm in thread, check if the messages are posted to start the thread. If not, post the messages to start swam in thread</description>
        <name>Check_if_messages_need_to_be_posted</name>
        <label>Check if messages need to be posted</label>
        <locationX>908</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Check_if_Swarm_Member_record_needs_to_be_created_for_Swarm_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Messages_need_to_be_posted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectHowToSwarm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SwarmInThread</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThreadTimestamp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Message_of_Thread</targetReference>
            </connector>
            <label>Messages need to be posted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Service_channel_Or_Skill_Empty</name>
        <label>Check if Service channel Or Skill Empty</label>
        <locationX>1381</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Available_Swarm_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Empty Service channel And Skill</defaultConnectorLabel>
        <rules>
            <name>Empty_Service_channel_Or_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Channel_Or_Skill_Empty.IsSkillOrServiceChannelEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Without_Skill_Selected</targetReference>
            </connector>
            <label>Empty Service channel Or Skill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Swarm_Member_record_needs_to_be_created_for_Swarm_Owner</name>
        <label>Check if Swarm Member record needs to be created for Swarm Owner</label>
        <locationX>908</locationX>
        <locationY>4886</locationY>
        <defaultConnector>
            <targetReference>Check_Swarm_Owner_needs_to_be_invited_to_Slack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not create Swarm Member Record</defaultConnectorLabel>
        <rules>
            <name>Create_Swarm_Member_Record</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>TruncateSwarmOwnerId18DigitTo15</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TruncateOwnerId18DigitTo15</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectHowToSwarm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SwarmOnChannel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TruncateSwarmOwnerId18DigitTo15Thread</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TruncateOwnerId18DigitTo15</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectHowToSwarm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SwarmInThread</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Swarm_Member_for_Owner</targetReference>
            </connector>
            <label>Create Swarm Member Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Swarm_Owner_needs_to_be_invited_to_Slack</name>
        <label>Check Swarm Owner needs to be invited to Slack</label>
        <locationX>908</locationX>
        <locationY>5222</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Member_Selection_Swarm_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collaboration Tool is None</defaultConnectorLabel>
        <rules>
            <name>Collaboration_Tool_is_Slack_And_Swarm_on_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollaborationTool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slack</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectHowToSwarm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SwarmOnChannel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invite_Swarm_Owner_to_Channel</targetReference>
            </connector>
            <label>Collaboration Tool is Slack And Swarm on Channel</label>
        </rules>
        <rules>
            <name>Collaboration_Tool_is_Slack_And_Swarm_In_Thread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollaborationTool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slack</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectHowToSwarm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SwarmInThread</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Finish_Begin_Swarming_Flow</targetReference>
            </connector>
            <label>Collaboration Tool is Slack And Swarm In Thread</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collaboration_Room_Already_Present_Dedicated_Channel</name>
        <label>Collaboration Room Already Present Dedicated Channel</label>
        <locationX>182</locationX>
        <locationY>5942</locationY>
        <defaultConnector>
            <targetReference>Create_CollaborationRoom_Dedicated_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Collaboration Room</defaultConnectorLabel>
        <rules>
            <name>Collaboration_Room_Found_Dedicated_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CollaborationRoom_if_Exists_Dedicated_Channel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Swarm_CollaborationRoomId_and_MessageKey_Dedicated_Channel_0</targetReference>
            </connector>
            <label>Collaboration Room Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collaboration_Room_Already_Present_Thread</name>
        <label>Collaboration Room Already Present Thread</label>
        <locationX>446</locationX>
        <locationY>4214</locationY>
        <defaultConnector>
            <targetReference>Create_CollaborationRoom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Collaboration Room</defaultConnectorLabel>
        <rules>
            <name>Collaboration_Room_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CollaborationRoom_if_Exists_Thread</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Swarm_CollaborationUrl_And_MessageKey_0</targetReference>
            </connector>
            <label>Collaboration Room Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_show_multi_swarm_message</name>
        <label>If show multi swarm message</label>
        <locationX>1535</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Check_Collaboration_Tool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not show multi swarm message</defaultConnectorLabel>
        <rules>
            <name>Show_multi_swarm_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Swarms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_Swarm_Message_Screen</targetReference>
            </connector>
            <label>Show multi swarm message</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the conversation is public before trying to invite the Service Slack App bot user.</description>
        <name>Is_Conversation_Public</name>
        <label>Is Conversation Public</label>
        <locationX>1502</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Private_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ConversationIsPublic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Channel_Properties.isPrivate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Service_Slack_App_to_Conversation</targetReference>
            </connector>
            <label>ConversationIsPublic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Skills_Based_Routing_Enabled</name>
        <label>Is Skills Based Routing Enabled</label>
        <locationX>1535</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Available_Swarm_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skills Based Routing disabled</defaultConnectorLabel>
        <rules>
            <name>Skills_Based_Routing_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Omni_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Channel_Or_Skill_Empty</targetReference>
            </connector>
            <label>Skills Based Routing Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Swarm_With_Dedicated_Channel</name>
        <label>Is Swarm With Dedicated Channel</label>
        <locationX>1172</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Set_Up_Thread</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Swarm with thread</defaultConnectorLabel>
        <rules>
            <name>Swarm_with_dedicated_channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectHowToSwarm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SwarmOnChannel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Up_Channel</targetReference>
            </connector>
            <label>Swarm with dedicated channel</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_create_Swarm_or_not</name>
        <label>To create Swarm or not</label>
        <locationX>1535</locationX>
        <locationY>3254</locationY>
        <defaultConnectorLabel>Not to create Swarm</defaultConnectorLabel>
        <rules>
            <name>To_create_Swarm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Swarm_Created.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Swarm</targetReference>
            </connector>
            <label>To create Swarm</label>
        </rules>
        <rules>
            <name>Not_to_create_Swarm_in_thread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Swarm_Created.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectHowToSwarm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SwarmInThread</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Finish_Begin_Swarming_Flow</targetReference>
            </connector>
            <label>Not to create Swarm in thread</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lowerSobjectType</name>
        <dataType>String</dataType>
        <expression>LOWER({!sObjectType})</expression>
    </formulas>
    <formulas>
        <name>TruncateOwnerId18DigitTo15</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordOwner},15)</expression>
    </formulas>
    <formulas>
        <name>TruncateSwarmMemberName</name>
        <dataType>String</dataType>
        <expression>IF (LEN({!LabelForSwarmMemberName}) &lt; 256, {!LabelForSwarmMemberName}, TRIM(LEFT({!LabelForSwarmMemberName}, 252) &amp; &quot;...&quot;))</expression>
    </formulas>
    <formulas>
        <name>TruncateSwarmName</name>
        <dataType>String</dataType>
        <expression>IF (LEN({!LabelForSwarmName}) &lt; 256, {!LabelForSwarmName}, TRIM(LEFT({!LabelForSwarmName}, 252) &amp; &quot;...&quot;))</expression>
    </formulas>
    <formulas>
        <name>TruncateSwarmOwnerId18DigitTo15</name>
        <dataType>String</dataType>
        <expression>LEFT({!SwarmOwner.recordId},15)</expression>
    </formulas>
    <formulas>
        <name>TruncateSwarmOwnerId18DigitTo15Thread</name>
        <dataType>String</dataType>
        <expression>LEFT({!SwarmOwnerThread.recordId},15)</expression>
    </formulas>
    <interviewLabel>Retail Banking - Begin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Banking - Starter - Begin Swarming Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CollaborationRoom</name>
        <label>Create CollaborationRoom</label>
        <locationX>578</locationX>
        <locationY>4334</locationY>
        <connector>
            <targetReference>Update_Swarm_CollaborationUrl_And_MessageKey</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!SlackChannelSelector.label} - {!SlackChannel}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlatformKey</field>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamKey</field>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CollaborationRoom_Dedicated_Channel</name>
        <label>Create CollaborationRoom in Dedicated Channel</label>
        <locationX>314</locationX>
        <locationY>6062</locationY>
        <connector>
            <targetReference>Update_Swarm_CollaborationRoomId_and_MessageKey_Dedicated_Channel</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlatformKey</field>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamKey</field>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Swarm</name>
        <label>Create Swarm</label>
        <locationX>908</locationX>
        <locationY>3374</locationY>
        <connector>
            <targetReference>Check_if_messages_need_to_be_posted</targetReference>
        </connector>
        <inputAssignments>
            <field>CollaborationTool</field>
            <value>
                <elementReference>CollaborationTool</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationUrl</field>
            <value>
                <elementReference>CollaborationUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HelpNeeded</field>
            <value>
                <elementReference>HelpNeeded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SelectedSwarmRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedSwarmOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Swarm_Member_for_Owner</name>
        <label>Create Swarm Member for Owner</label>
        <locationX>776</locationX>
        <locationY>5006</locationY>
        <connector>
            <targetReference>Check_Swarm_Owner_needs_to_be_invited_to_Slack</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HelpNeeded</field>
            <value>
                <elementReference>HelpNeeded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TruncateSwarmMemberName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedSwarmOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SwarmId</field>
            <value>
                <elementReference>Create_Swarm</elementReference>
            </value>
        </inputAssignments>
        <object>SwarmMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Swarm_Created</name>
        <label>Check Swarm Created</label>
        <locationX>1535</locationX>
        <locationY>3134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_create_Swarm_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Swarm</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CollaborationRoom_if_Exists_Dedicated_Channel</name>
        <label>Get CollaborationRoom if Exists Dedicated Channel</label>
        <locationX>182</locationX>
        <locationY>5822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collaboration_Room_Already_Present_Dedicated_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CollaborationRoom_if_Exists_Thread</name>
        <label>Get CollaborationRoom if Exists Thread</label>
        <locationX>446</locationX>
        <locationY>4094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collaboration_Room_Already_Present_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Swarm_For_CollaborationRoomId_Update</name>
        <label>Get Swarm For CollaborationRoomId Update</label>
        <locationX>182</locationX>
        <locationY>5702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CollaborationRoom_if_Exists_Dedicated_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Swarm</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Swarm_For_CollaborationUrl_Update</name>
        <label>Get Swarm For CollaborationUrl Update</label>
        <locationX>446</locationX>
        <locationY>3974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CollaborationRoom_if_Exists_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Swarm</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Swarms</name>
        <label>Get Swarms</label>
        <locationX>1535</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_show_multi_swarm_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CollaborationRoomId</name>
        <label>Update CollaborationRoomId</label>
        <locationX>182</locationX>
        <locationY>6398</locationY>
        <connector>
            <targetReference>Member_Selection_Swarm_Flow</targetReference>
        </connector>
        <inputReference>Get_Swarm_For_CollaborationRoomId_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CollaborationUrl</name>
        <label>Update CollaborationUrl</label>
        <locationX>446</locationX>
        <locationY>4670</locationY>
        <connector>
            <targetReference>Check_if_Swarm_Member_record_needs_to_be_created_for_Swarm_Owner</targetReference>
        </connector>
        <inputReference>Get_Swarm_For_CollaborationUrl_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Swarming_in_Slack</name>
        <label>Collaboration</label>
        <locationX>1535</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Collaboration_Tool_Settings</targetReference>
        </connector>
        <fields>
            <name>CreateNewDealRoomOrSwarm</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>CreateNewDealRoomOrSwarm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Let&apos;s Go!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Slack_Channel_Action_Failed</name>
        <label>Create Slack Channel Action Failed</label>
        <locationX>1106</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Label_CaseSwarmingFlows_SlackChannelCreationFailed</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>There was a problem creating the Slack Channel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Without_Skill_Selected</name>
        <label>End Without Skill Selected</label>
        <locationX>1249</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndTextMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your org is missing a Service Channel for this Swarm Member, or skills, or both. To run Swarming flows, set up Omni-Channel and add both the Service Channel for the Swarm Member and required skills.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Begin_Swarming_Flow</name>
        <label>Finish Begin Swarming Flow</label>
        <locationX>842</locationX>
        <locationY>5582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>The Begin Swarming flow is complete.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Collaboration_Settings_Failed</name>
        <label>Get Collaboration Settings Failed</label>
        <locationX>2426</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Label_CaseSwarmingFlows_GetCollaborationSettingActionFailed</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>The flow cannot be continued because certain permissions need to be enabled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multi_Swarm_Message_Screen</name>
        <label>Multi Swarm Message Screen</label>
        <locationX>1403</locationX>
        <locationY>1670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Collaboration_Tool</targetReference>
        </connector>
        <fields>
            <name>Multi_Swarm_Message</name>
            <fieldText>One or more swarms are associated with this record. To swarm with the same swarm members, reopen an existing swarm. To swarm with new members, start a new swarm and give the channel a custom name to differentiate it from your existing swarms.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Can&apos;t add bot to private channel</description>
        <name>Private_Channel</name>
        <label>Private Channel</label>
        <locationX>1634</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Slack_Variables_for_Swarm_in_Thread</targetReference>
        </connector>
        <fields>
            <name>Private_Channel_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;To swarm in a private channel, add the Service Cloud for Slack app from the Integrations tab.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Swarming</name>
        <label>Select Swarming</label>
        <locationX>1172</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Swarm_With_Dedicated_Channel</targetReference>
        </connector>
        <fields>
            <name>SlackWorkspaceSelector</name>
            <extensionName>force:slackWorkspaceSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appId</name>
                <value>
                    <elementReference>CollaborationAppId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedWorkspaceId</name>
                <value>
                    <elementReference>SlackWorkspace</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SlackWorkspace</assignToReference>
                <name>selectedWorkspaceId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectHowToSwarm</name>
            <choiceReferences>SwarmOnChannel</choiceReferences>
            <choiceReferences>SwarmInThread</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you like to swarm?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Up_Channel</name>
        <label>Set Up Channel</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Slack_Channel</targetReference>
        </connector>
        <fields>
            <name>SetUpYourSwarmChannel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Set up your swarm channel and swarm record. To avoid duplicate names, you can customize the channel and record names.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SlackChannelName</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!channelName}</stringValue>
            </defaultValue>
            <fieldText>Swarm Channel Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a title that includes lowercase letters, numbers, and hyphens only. &lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!SlackChannelName}, &quot;[a-z0-9-]*&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SwarmRecordNameChannel</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TruncateSwarmName</elementReference>
            </defaultValue>
            <fieldText>Swarm Record Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SwarmOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>$Label.CaseSwarmingFlows.SlackSwarmOwner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Swarm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MakePrivateSwarmChannel</name>
            <fieldText>&lt;p&gt;Make this a private swarm channel?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PrivateChannel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Channels are public by default, but you can make a public channel private in Slack at any time.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>HelpNeededChannel</name>
            <dataType>String</dataType>
            <fieldText>Help Needed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Up_Thread</name>
        <label>Set Up Thread</label>
        <locationX>1502</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Channel_Properties</targetReference>
        </connector>
        <fields>
            <name>SlackSetupChannel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Set up your swarm channel and swarm record. To avoid duplicate names, you can customize the channel and record names.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SlackChannelSelector</name>
            <extensionName>force:slackChannelSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appId</name>
                <value>
                    <elementReference>CollaborationAppId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workspaceId</name>
                <value>
                    <elementReference>SlackWorkspace</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useBotToken</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SwarmRecordNameThread</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TruncateSwarmName</elementReference>
            </defaultValue>
            <fieldText>Swarm Record Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SwarmOwnerThread</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>$Label.CaseSwarmingFlows.SlackSwarmOwner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Swarm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>HelpNeededThread</name>
            <dataType>String</dataType>
            <fieldText>Help Needed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddAppToChannelNote</name>
            <fieldText>&lt;p&gt;Note: The Service app must be in the Slack integrations tab to use swarming flows in an existing channel&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>case_swarming__Begin_Swarming</sourceTemplate>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Swarming_in_Slack</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Member_Selection_Swarm_Flow</name>
        <label>Member Selection Swarm Flow</label>
        <locationX>182</locationX>
        <locationY>6518</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Finish_Begin_Swarming_Flow</targetReference>
        </connector>
        <flowName>case_swarming__Member_Selection</flowName>
        <inputAssignments>
            <name>CollaborationRoomId</name>
            <value>
                <elementReference>Get_Swarm_For_CollaborationUrl_Update.CollaborationRoomId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CollaborationToolAppId</name>
            <value>
                <elementReference>CollaborationAppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Is_Omni_Enabled</name>
            <value>
                <elementReference>Is_Omni_Enabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LabelForSwarmMemberName</name>
            <value>
                <elementReference>LabelForSwarmMemberName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LabelForSwarmName</name>
            <value>
                <elementReference>LabelForSwarmName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SwarmMemberHelpNeeded</name>
            <value>
                <elementReference>HelpNeededChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrgValueCollaborationTool</name>
            <value>
                <elementReference>CollaborationTool</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordOwner</name>
            <value>
                <elementReference>recordOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedChannelId</name>
            <value>
                <elementReference>SlackChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedSwarmId</name>
            <value>
                <elementReference>Create_Swarm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedWorkspaceId</name>
            <value>
                <elementReference>SlackWorkspace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceChannelId</name>
            <value>
                <elementReference>Service_Channel_Or_Skill_Empty.serviceChannelId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Service_Channel_Or_Skill_Empty</name>
        <label>Service Channel Or Skill Empty</label>
        <locationX>1381</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Check_if_Service_channel_Or_Skill_Empty</targetReference>
        </connector>
        <flowName>case_swarming__Omni_Entities_Validator</flowName>
        <inputAssignments>
            <name>Is_Omni_Enabled</name>
            <value>
                <elementReference>Is_Omni_Enabled</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>LabelSlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Welcome To Channel</text>
    </textTemplates>
    <textTemplates>
        <name>LabelStartSwarmThreadMsg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Here is the thread message to start the collaboration</text>
    </textTemplates>
    <textTemplates>
        <name>SwarmMembersName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Swarm Member For {!sObjectType} #{!recordNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>SwarmName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Swarm For {!sObjectType} #{!recordNumber}</text>
    </textTemplates>
    <variables>
        <name>channelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollaborationAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollaborationTool</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>CollaborationUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HelpNeeded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Omni_Enabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSwarmOwnerAlreadyAddedInChannel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSwarmUserAlreadyAddedInChannel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelForSwarmMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelForSwarmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSwarmMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSwarmOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSwarmRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TruncateSwarmName</elementReference>
        </value>
    </variables>
    <variables>
        <name>SlackChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackWorkspace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SwarmMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SwarmOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SwarmUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThreadTimestamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
