force-app/main/default/flows/FINS_Prompt_Einstein1_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Client_Profile_Summary_Prompt</name>
        <label>Client Profile Summary Prompt</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Client_Profile_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Screen_Client_Profile_Summaries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Client_Profile_Summary</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Financial_Accounts_Prompt</name>
        <label>Financial Accounts Prompt</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Financial_Accounts</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Text_Financial_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Financial_Accounts</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Financial_Plans_and_Goals_Prompt</name>
        <label>Financial Plans and Goals Prompt</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Financial_Plans_and_Goals</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Text_Plans_and_Goals</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Financial_Plans_and_Goals</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Interaction_Summaries_Prompt</name>
        <label>Interaction Summaries Prompt</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Interaction_Summaries</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Screen_Interaction_Summaries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Interaction_Summaries</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_DocGen</name>
        <label>Invoke DocGen</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <actionName>sfiArch_CallServerDocGen2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>docTitleVar</name>
            <value>
                <stringValue>{!Get_Account.Name} Summary as of {!$Flow.CurrentDate}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTemplateDrObjectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTemplateId</name>
            <value>
                <elementReference>getTemplateId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileFormatVar</name>
            <value>
                <stringValue>docx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>DocumentServiceGateway_DocGenerationWithTokenData</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sfiArch_CallServerDocGen2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Cases_Prompt</name>
        <label>Open Cases Prompt</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>FINS_General_Summarization_of_Open_Cases</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Screen_Open_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_General_Summarization_of_Open_Cases</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Annotated_Client_Profile_Summary</name>
        <label>Annotated Client Profile Summary</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_ClientProfileSummary.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Client_Summary_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_Financial_Accounts</name>
        <label>Annotated Financial Accounts</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_FinancialAccounts.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Financial_Account_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_InteractionSummaries</name>
        <label>Annotated InteractionSummaries</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_InteractionSummaries.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Interaction_Summaries_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_Open_Cases</name>
        <label>Annotated Open Cases</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_OpenCases.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Open_Cases_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annotated_Plans_and_Goals</name>
        <label>Annotated Plans and Goals</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewAnnotatedResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextAreaPlus_PlansandGoals.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Financial_Plans_and_Goals_Field</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClientProfileSummarization</name>
        <choiceText>Generate a complete summary of this Client!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate a complete summary of this Client!</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice Summarization of Interactions</description>
        <name>InteractionSummaries</name>
        <choiceText>Meetings and Engagements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meetings and Engagements</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofFinancialAccounts</name>
        <choiceText>Investment and Financial Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Investment and Financial Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofFinancialPlansandGoals</name>
        <choiceText>Financial Plans and Goals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Plans and Goals</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofInteractions</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Meetings and Engagements&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meetings and Engagements</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummarizationofOpenCases</name>
        <choiceText>Servicing Requests and Tickets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicing Requests and Tickets</stringValue>
        </value>
    </choices>
    <decisions>
        <name>GenDoc</name>
        <label>GenDoc?</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>No Doc Gen</defaultConnectorLabel>
        <rules>
            <name>Generate_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_create_a_document_with_summary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTemplateId</targetReference>
            </connector>
            <label>Generate Docs</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision logic to select a prompt template</description>
        <name>Prompt_Decision</name>
        <label>Prompt Decision</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interaction_Summaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofInteractions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Summaries_Prompt</targetReference>
            </connector>
            <label>Interaction Summaries</label>
        </rules>
        <rules>
            <name>Open_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofOpenCases</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Cases_Prompt</targetReference>
            </connector>
            <label>Open Cases</label>
        </rules>
        <rules>
            <name>Financial_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofFinancialAccounts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Accounts_Prompt</targetReference>
            </connector>
            <label>Financial Accounts</label>
        </rules>
        <rules>
            <name>Financial_Plans_Goals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SummarizationofFinancialPlansandGoals</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Plans_and_Goals_Prompt</targetReference>
            </connector>
            <label>Financial Plans &amp; Goals</label>
        </rules>
        <rules>
            <name>Client_Profile_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_desired_summarization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientProfileSummarization</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Profile_Summary_Prompt</targetReference>
            </connector>
            <label>Client Profile Summary</label>
        </rules>
    </decisions>
    <description>Provide users a wizard-like screen to select which Prompt Template to invoke - added DocGen</description>
    <environments>Default</environments>
    <interviewLabel>FINS Prompt - Einstein1 Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Prompt - Einstein1 Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Step to fetch Accounts</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prompt_Template_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplateId</name>
        <label>getTemplateId</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_DocGen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINSAISummary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Client Profile Summary Field on the Account Record.</description>
        <name>Update_Client_Summary_Field</name>
        <label>Update Client Summary Field</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>GenDoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_ClientSummaryRich__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FINS_Client_Profile_Summary__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Financial Accounts Field on the Account Record.</description>
        <name>Update_Financial_Account_Field</name>
        <label>Update Financial Account Field</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Financial_Accounts__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Financial Plans and Goals Field on the Account Record.</description>
        <name>Update_Financial_Plans_and_Goals_Field</name>
        <label>Update Financial Plans and Goals Field</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Financial_Goals_Plans__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Interaction Summaries Field on the Account Record.</description>
        <name>Update_Interaction_Summaries_Field</name>
        <label>Update Interaction Summaries Field</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Interaction_Summaries__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Using Gen AI response, update the Summary of Open Cases Field on the Account Record.</description>
        <name>Update_Open_Cases_Field</name>
        <label>Update Open Cases Field</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Summary_of_Open_Cases__c</field>
            <value>
                <elementReference>NewAnnotatedResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Display_Screen_Client_Profile_Summaries</name>
        <label>Display Screen Client Profile Summaries</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Client_Profile_Summary</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_ClientProfileSummary</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_ClientProfileSummary</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Screen_Interaction_Summaries</name>
        <label>Display Screen Interaction Summaries</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_InteractionSummaries</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_InteractionSummaries</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_InteractionSummaries</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Screen_Open_Cases</name>
        <label>Display Screen Open Cases</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Open_Cases</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_OpenCases</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_OpenCases</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Text_Financial_Accounts</name>
        <label>Display Text Financial Accounts</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Financial_Accounts</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_FinancialAccounts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_FinancialAccounts</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Text_Plans_and_Goals</name>
        <label>Display Text Plans and Goals</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Annotated_Plans_and_Goals</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_PlansandGoals</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclaimer: This automation uses generative AI, which can produce inaccurate or harmful responses.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TextAreaPlus_PlansandGoals</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Response from LLM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please annotate this response with your comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>480</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GenAI_Response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save to Client Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prompt_Template_Selection</name>
        <label>Prompt Template Selection</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Prompt_Decision</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select which summarization you&apos;d like of&amp;nbsp;{!recordId.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_your_desired_summarization</name>
            <choiceReferences>InteractionSummaries</choiceReferences>
            <choiceReferences>SummarizationofFinancialAccounts</choiceReferences>
            <choiceReferences>SummarizationofFinancialPlansandGoals</choiceReferences>
            <choiceReferences>SummarizationofOpenCases</choiceReferences>
            <choiceReferences>ClientProfileSummarization</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ClientProfileSummarization</defaultSelectedChoiceReference>
            <fieldText>Select your desired summarization</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Would_you_like_to_create_a_document_with_summary</name>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to create a document with summary?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_desired_summarization</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClientProfileSummarization</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GenAI_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAnnotatedResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
