force-app/main/default/flows/FINS_Retail_Banking_Starter_Wealth_Needs_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Stage_Asstes</name>
        <label>Stage Asstes</label>
        <locationX>352</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetsStg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Comm_Pref</name>
        <label>Stage Comm Pref</label>
        <locationX>505</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferencesStg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Communication_Preferences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Goal</name>
        <label>Stage Goal</label>
        <locationX>213</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GoalsStg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Goals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Recommendation</name>
        <label>Stage Recommendation</label>
        <locationX>802</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecommendationStg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recommendations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Summary</name>
        <label>Stage Summary</label>
        <locationX>651</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryStg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_Initial_Assignment</name>
        <label>Stages - Initial Assignment</label>
        <locationX>75</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IntroStg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GoalsStg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetsStg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreferencesStg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryStg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecommendationStg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IntroStg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Intro</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Alloftheabove</name>
        <choiceText>All of the above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All of the above</stringValue>
        </value>
    </choices>
    <choices>
        <name>Branch</name>
        <choiceText>Branch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Branch</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerAuthenticationTokens</name>
        <choiceText>Customer Authentication Tokens</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Authentication Tokens</stringValue>
        </value>
    </choices>
    <choices>
        <name>Education</name>
        <choiceText>Education</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Education</stringValue>
        </value>
    </choices>
    <choices>
        <name>eSignature</name>
        <choiceText>eSignature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eSignature</stringValue>
        </value>
    </choices>
    <choices>
        <name>EstatePlanning</name>
        <choiceText>Estate Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estate Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Financingalargepurchase</name>
        <choiceText>Financing a large purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financing a large purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>GenerateAuthorizationForm</name>
        <choiceText>Generate Authorization Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate Authorization Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>Investments</name>
        <choiceText>Investments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Investments</stringValue>
        </value>
    </choices>
    <choices>
        <name>LargePurchase</name>
        <choiceText>Large Purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Large Purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lessthan10000</name>
        <choiceText>Less than $10,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than $10,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>ManageDebt</name>
        <choiceText>Manage Debt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage Debt</stringValue>
        </value>
    </choices>
    <choices>
        <name>ManageMoneydaytoday</name>
        <choiceText>Manage Money day to day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage Money day to day</stringValue>
        </value>
    </choices>
    <choices>
        <name>MobileApp</name>
        <choiceText>Mobile App</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile App</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online</name>
        <choiceText>Online</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online</stringValue>
        </value>
    </choices>
    <choices>
        <name>Over1000000</name>
        <choiceText>Over $1,000,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Over $1,000,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>PropertyPurchase</name>
        <choiceText>Property Purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property Purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recommend1</name>
        <choiceText>{!Recommendation1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Recommendation1</elementReference>
        </value>
    </choices>
    <choices>
        <name>Recommend2</name>
        <choiceText>{!Recommendation2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Recommendation2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Recommend3</name>
        <choiceText>{!Recommendation3}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Recommendation3</elementReference>
        </value>
    </choices>
    <choices>
        <name>Retirement</name>
        <choiceText>Retirement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retirement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Savingforeducation</name>
        <choiceText>Saving for education</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saving for education</stringValue>
        </value>
    </choices>
    <choices>
        <name>Savingforretirement</name>
        <choiceText>Saving for retirement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saving for retirement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Savings</name>
        <choiceText>Savings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Savings</stringValue>
        </value>
    </choices>
    <choices>
        <name>SendEmailAuthorization</name>
        <choiceText>Send Email Authorization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Email Authorization</stringValue>
        </value>
    </choices>
    <choices>
        <name>SendSMSAuthorization</name>
        <choiceText>Send SMS Authorization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send SMS Authorization</stringValue>
        </value>
    </choices>
    <choices>
        <name>SocialMedia</name>
        <choiceText>Social Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>TaxSavings</name>
        <choiceText>Tax Savings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Savings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Taxsavings2</name>
        <choiceText>Tax savings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax savings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telephone</name>
        <choiceText>Telephone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephone</stringValue>
        </value>
    </choices>
    <choices>
        <name>TextMessage</name>
        <choiceText>Text Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text Message</stringValue>
        </value>
    </choices>
    <choices>
        <name>WealthManagement</name>
        <choiceText>Wealth Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wealth Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>WeeklyExpenses</name>
        <choiceText>Weekly Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly Expenses</stringValue>
        </value>
    </choices>
    <choices>
        <name>x100000999999</name>
        <choiceText>$100,000-$999,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$100,000-$999,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>x1000099999</name>
        <choiceText>$10,000-$99,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$10,000-$99,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>x6502732573</name>
        <choiceText>650-273-2573</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>650-273-2573</stringValue>
        </value>
    </choices>
    <choices>
        <name>x7049058796</name>
        <choiceText>704-905-8796</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>704-905-8796</stringValue>
        </value>
    </choices>
    <constants>
        <name>AssessmentSummary</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/NeedsAssessmentSummary&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/NeedsAssessmentConfirmation&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Recommendation1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/NeedsAssessmentOption1&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Recommendation2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/NeedsAssessmentOption2&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Recommendation3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/NeedsAssessmentOption3&apos; /&gt;</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Retail Banking - Starter - Wealth Needs Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Banking - Starter - Wealth Needs Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Assets</name>
        <label>Assets</label>
        <locationX>436</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Comm_Pref</targetReference>
        </connector>
        <fields>
            <name>StageAssets</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_do_you_anticipate_to_be_your_starting_balance</name>
            <choiceReferences>Lessthan10000</choiceReferences>
            <choiceReferences>x1000099999</choiceReferences>
            <choiceReferences>x100000999999</choiceReferences>
            <choiceReferences>Over1000000</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What do you anticipate to be your starting balance?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Communication_Preferences</name>
        <label>Communication Preferences</label>
        <locationX>580</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Summary</targetReference>
        </connector>
        <fields>
            <name>StageCommPref</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_do_you_prefer_to_interact_with_your_bank</name>
            <choiceReferences>TextMessage</choiceReferences>
            <choiceReferences>Branch</choiceReferences>
            <choiceReferences>MobileApp</choiceReferences>
            <choiceReferences>Online</choiceReferences>
            <choiceReferences>Telephone</choiceReferences>
            <choiceReferences>SocialMedia</choiceReferences>
            <choiceReferences>Alloftheabove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How do you prefer to interact with your bank?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Goals</name>
        <label>Goals</label>
        <locationX>285</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Asstes</targetReference>
        </connector>
        <fields>
            <name>StageGoals</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_your_top_goal_when_managing_money</name>
            <choiceReferences>Savingforretirement</choiceReferences>
            <choiceReferences>EstatePlanning</choiceReferences>
            <choiceReferences>Financingalargepurchase</choiceReferences>
            <choiceReferences>Taxsavings2</choiceReferences>
            <choiceReferences>Savingforeducation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your top goal when managing money?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intro</name>
        <label>Intro</label>
        <locationX>146</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Goal</targetReference>
        </connector>
        <fields>
            <name>StageIntro</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_can_we_help_you_with_today</name>
            <choiceReferences>WealthManagement</choiceReferences>
            <choiceReferences>ManageMoneydaytoday</choiceReferences>
            <choiceReferences>PropertyPurchase</choiceReferences>
            <choiceReferences>LargePurchase</choiceReferences>
            <choiceReferences>ManageDebt</choiceReferences>
            <choiceReferences>Investments</choiceReferences>
            <choiceReferences>Retirement</choiceReferences>
            <choiceReferences>WeeklyExpenses</choiceReferences>
            <choiceReferences>TaxSavings</choiceReferences>
            <choiceReferences>Education</choiceReferences>
            <choiceReferences>Savings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What can we help you with today?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recommendations</name>
        <label>Recommendations</label>
        <locationX>884</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StageRecommendations</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>qualified</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;✅&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Qualified Referral, proceed to schedule appointment with a wealth advisor.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>726</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Recommendation</targetReference>
        </connector>
        <fields>
            <name>StageSummary</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Summary_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Let&apos;s review what we have learned...&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;You&apos;re interested in &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!What_can_we_help_you_with_today}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Your primary goal is &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!What_is_your_top_goal_when_managing_money}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;You prefer to interact with your bank through &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!How_do_you_prefer_to_interact_with_your_bank}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;You expect your starting balance to be &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!What_do_you_anticipate_to_be_your_starting_balance}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Does this all look correct?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;If yes, please click the button below to acknowledge and see your personalised recommendations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>AssetsStg</name>
        <isActive>false</isActive>
        <label>Assets</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStg</name>
        <isActive>false</isActive>
        <label>Confirmation</label>
        <stageOrder>90</stageOrder>
    </stages>
    <stages>
        <name>Customer_Authorization</name>
        <isActive>false</isActive>
        <label>Customer Authorization</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>GoalsStg</name>
        <isActive>false</isActive>
        <label>Goals</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>IntroStg</name>
        <isActive>false</isActive>
        <label>Intro</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>PreferencesStg</name>
        <isActive>false</isActive>
        <label>Preferences</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>RecommendationStg</name>
        <isActive>false</isActive>
        <label>Recommendation</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>SummaryStg</name>
        <isActive>false</isActive>
        <label>Summary</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>VerificationStg</name>
        <isActive>false</isActive>
        <label>Verification</label>
        <stageOrder>80</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Stages_Initial_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
