force-app/main/default/flows/FINS_Retail_Banking_Starter_CreateEIAccountOpening.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Retail Banking Starter - Create EI on Account Opening {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Banking Starter - Create EI on Account Opening</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EI</name>
        <label>Create EI</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_GPT</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunicationChannel</field>
            <value>
                <stringValue>In Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Title__c</field>
            <value>
                <stringValue>Branch Conversation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Friendly_URL_Text__c</field>
            <value>
                <stringValue>Guided Conversation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_with_EI</name>
        <label>Update Case with EI</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GPT</name>
        <label>Update GPT</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Case_with_EI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Checking</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI</elementReference>
            </value>
        </inputAssignments>
        <object>EinsteinGPT_Summary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rachel Morris</stringValue>
            </value>
        </filters>
        <filters>
            <field>SDO_Sales_Decision_Timeframe__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Immediately</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_EI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Stratus Bundle</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
