force-app/main/default/flows/FINS_Retail_Banking_Starter_Enablement_First_Program_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>FINS_Enablement_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Retail Banking - Enablement First Program Progress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Milestone_1_Progress_Record</name>
        <label>Create Milestone 1 Progress Record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Milestone_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Milestone_and_Exercise__c</field>
            <value>
                <elementReference>varMilestoneAndExerciseID_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Value__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <object>CGC_Milestone_Progress_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_2_Progress_Record</name>
        <label>Create Milestone 2 Progress Record</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Milestone_and_Exercise__c</field>
            <value>
                <elementReference>varMilestoneAndExerciseID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Value__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>CGC_Milestone_Progress_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Milestone_1</name>
        <label>Get Milestone 1</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Milestone_1_Progress_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_CGC_Milestone_and_Exercise.004</stringValue>
            </value>
        </filters>
        <object>CGC_Milestone_and_Exercise__c</object>
        <outputAssignments>
            <assignToReference>varMilestoneAndExerciseID_1</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_2</name>
        <label>Get Milestone 2</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Milestone_2_Progress_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_CGC_Milestone_and_Exercise.008</stringValue>
            </value>
        </filters>
        <object>CGC_Milestone_and_Exercise__c</object>
        <outputAssignments>
            <assignToReference>varMilestoneAndExerciseID_2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Milestone_1</targetReference>
        </connector>
        <filterFormula>{!$Record.FinServ__ReferredByUser__r.External_ID__c} = &quot;User.001&quot; || {!$Record.FinServ__ReferredByUser__r.External_ID__c} = &quot;FSC_User.002&quot;</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CGC_Milestone_and_Exercise__c</objectType>
    </variables>
    <variables>
        <name>varMilestoneAndExerciseID_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMilestoneAndExerciseID_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
