force-app/main/default/flows/FINS_Wealth_Financial_Plan_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setFinancialGoal_1</name>
        <label>set Financial Goal 1</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FinancialGoal.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Home Purchase</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN_PROGRESS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HIGH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fnToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.TargetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>150000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.TargetDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2027-08-01</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.FinancialPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialPlan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinancialGoal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setFinancialGoal_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFinancialGoal_2</name>
        <label>set Financial Goal 2</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>FinancialGoal.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pay off Student Loan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pay off Debt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN_PROGRESS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEDIUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fnToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.TargetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>35000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.TargetDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fnTargetDateGoal2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoal.FinancialPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialPlan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialGoals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinancialGoal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createFinancialGoals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFinancialPlan</name>
        <label>set Financial Plan</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FinancialPlan.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Home Ownership</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialPlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fnToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialPlan.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialPlan.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialPlan.EstimatedSuccessPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>87.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fnFinancialPlanName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createFinancialPlan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionFinancialPlanExists</name>
        <label>Financial Plan Exists ?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FinancialPlanExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialPlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Plan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Mock Adding/Updating a Financial Plan</description>
    <environments>Default</environments>
    <formulas>
        <name>fnFinancialPlanName</name>
        <dataType>String</dataType>
        <expression>{!Account.FirstName} &amp; &quot;&apos;s Financial Plan&quot;</expression>
    </formulas>
    <formulas>
        <name>fnTargetDateGoal1</name>
        <dataType>Date</dataType>
        <expression>DATE(2027,05,01)</expression>
    </formulas>
    <formulas>
        <name>fnTargetDateGoal2</name>
        <dataType>Date</dataType>
        <expression>DATE(2032,08,01)</expression>
    </formulas>
    <formulas>
        <name>fnToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Wealth Financial Plan Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wealth Financial Plan Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createFinancialGoals</name>
        <label>Financial Goals</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Reset_Checkbox_Fields_2</targetReference>
        </connector>
        <inputReference>FinancialGoals</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createFinancialPlan</name>
        <label>Financial Plan</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>setFinancialGoal_1</targetReference>
        </connector>
        <inputReference>FinancialPlan</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>Account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setFinancialPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialPlan</name>
        <label>Financial Plan</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionFinancialPlanExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FinancialPlan</object>
        <outputReference>FinancialPlan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>EstimatedSuccessPercent</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StartDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Financial_Plan</name>
        <label>Financial Plan</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Reset_Checkbox_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialPlan.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EstimatedSuccessPercent</field>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </inputAssignments>
        <object>FinancialPlan</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Checkbox_Fields</name>
        <label>Reset Checkbox Fields</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Financial_Plan_Existing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FINS_New_Financial_Plan__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Checkbox_Fields_2</name>
        <label>Reset Checkbox Fields</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Financial_Plan_Existing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FINS_New_Financial_Plan__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getFinancialPlan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FinancialGoal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialGoal</objectType>
    </variables>
    <variables>
        <name>FinancialGoals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialGoal</objectType>
    </variables>
    <variables>
        <name>FinancialPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialPlan</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
