force-app/main/default/flows/FINS_Service_Enablement_Case_Milestone_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>FINS Service Enablement Measure Progress for Program Outcome - Cases. Marks 1 towards milestone for each case closed</description>
    <environments>Default</environments>
    <interviewLabel>FINS Retail Banking - Enablement First Program Progress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Service - Enablement - Case Milestone Progress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Milestone_Progress_Record</name>
        <label>Create Case Milestone Progress Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Milestone_and_Exercise__c</field>
            <value>
                <elementReference>varMilestoneAndExerciseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Value__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>CGC_Milestone_Progress_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Milestone ID for the Case Milestone</description>
        <name>Get_Milestone_ID_for_Case</name>
        <label>Get Milestone ID for Case</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Milestone_Progress_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_CGC_Milestone_and_Exercise.010</stringValue>
            </value>
        </filters>
        <object>CGC_Milestone_and_Exercise__c</object>
        <outputAssignments>
            <assignToReference>varMilestoneAndExerciseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Milestone_ID_for_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1200</triggerOrder>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CGC_Milestone_and_Exercise__c</objectType>
    </variables>
    <variables>
        <name>varMilestoneAndExerciseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
