force-app/main/default/flows/FINS_Treasury_Management_Onboarding_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Compliance_Operations_Approval_to_Proceed</name>
        <label>Compliance &amp; Operations Approval to Proceed</label>
        <locationX>347</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Stage_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Denied</defaultConnectorLabel>
        <rules>
            <name>Proceed_to_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliane_Ops_Review.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_3</targetReference>
            </connector>
            <label>Proceed to Booking</label>
        </rules>
    </decisions>
    <decisions>
        <name>X30_Services_in_Use_Determination</name>
        <label>30 Services in Use Determination</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Stage_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Services Not Yet in Use</defaultConnectorLabel>
        <rules>
            <name>Client_Using_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proceed_to_Booking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Client Using Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>X60_Day_Services_in_Use_Determination</name>
        <label>60 Day Services in Use Determination</label>
        <locationX>248</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>X60_Day_Customer_Services_Nudge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Services Not Yet in Use</defaultConnectorLabel>
        <rules>
            <name>Client_Using_Services2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proceed_to_Booking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Client Using Services</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FINS Treasury Management Onboarding Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Treasury Management Onboarding Orchestration</label>
    <orchestratedStages>
        <name>Compliane_Ops_Review</name>
        <label>Compliance and Operations Review</label>
        <locationX>347</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Compliance_Operations_Approval_to_Proceed</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Compliance_Tasks</name>
            <actionName>FINS_Treasury_Management_Compliance_Review</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>FINS_Back_Office</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Compliance Tasks</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Operations_Tasks</name>
            <actionName>FINS_Treasury_Management_Enrollment_Operations_Review</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>FINS_Back_Office</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Operations Tasks</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Relationship_Management_Review</name>
        <label>Relationship Management Review</label>
        <locationX>347</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Compliane_Ops_Review</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Relationship_Manager_Tasks</name>
            <actionName>FINS_Treasury_Management_Relationship_Manager_Review</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>FINS_Back_Office</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Relationship Manager Tasks</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Stage_Update</name>
            <actionName>FINS_Treasury_Management_Opportunity_Stage_Update</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Relationship_Manager_Tasks.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Operations &amp; Compliance Review</stringValue>
                </value>
            </inputParameters>
            <label>Stage Update</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Client_Status_Update_Email</name>
            <actionName>FINS_Treasury_Management_Email_to_Client</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_Update.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>EmailTemplate</name>
                <value>
                    <stringValue>Relationship Manager Review Complete</stringValue>
                </value>
            </inputParameters>
            <label>Client Status Update Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_3</name>
        <label>System Bookings</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>X30_Services_in_Use_Determination</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Load_Client_into_Cash_Management_Solution</name>
            <actionName>FINS_Treasury_Management_Book_Client_on_Cash_Management_Solution</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Load Client into Cash Management Solution</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_Opportunity_Status</name>
            <actionName>FINS_Treasury_Management_Opportunity_Stage_Update</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status</name>
                <value>
                    <elementReference>Proceed_to_Booking</elementReference>
                </value>
            </inputParameters>
            <label>Update Opportunity Stage</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Client_Status_Update_Email2</name>
            <actionName>FINS_Treasury_Management_Email_to_Client</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Load_Client_into_Cash_Management_Solution.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>EmailTemplate</name>
                <value>
                    <stringValue>TM Login Instructions</stringValue>
                </value>
            </inputParameters>
            <label>Client Status Update Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_Application_Stage</name>
            <actionName>FINS_Treasury_Management_Opportunity_Stage_Update</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <label>Update Application Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_4</name>
        <label>Client Denial Communication</label>
        <locationX>644</locationX>
        <locationY>611</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Opportunity_Stage</name>
            <actionName>FINS_Treasury_Management_Opportunity_Stage_Update</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Closed - Denied</stringValue>
                </value>
            </inputParameters>
            <label>Update Opportunity Stage</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Client_Denial_Email</name>
            <actionName>FINS_Treasury_Management_Email_to_Client</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>EmailTemplate</name>
            </inputParameters>
            <label>Client Denial Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_Application_Status</name>
            <actionName>FINS_Treasury_Management_Opportunity_Stage_Update</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Denied</stringValue>
                </value>
            </inputParameters>
            <label>Update Application Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_5</name>
        <label>30 Day Customer Services Nudge</label>
        <locationX>248</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>X60_Day_Services_in_Use_Determination</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Nudge_Client</name>
            <actionName>FINS_Treasury_Management_Nudge_Client</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>DaysOutNudge</name>
                <value>
                    <stringValue>30</stringValue>
                </value>
            </inputParameters>
            <label>Nudge Client</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>X60_Day_Customer_Services_Nudge</name>
        <label>60 Day Customer Services Nudge</label>
        <locationX>380</locationX>
        <locationY>1043</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Nudge_Client2</name>
            <actionName>FINS_Treasury_Management_Nudge_Client</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>DaysOutNudge</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <label>Nudge Client</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relationship_Management_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>United Partners</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
