force-app/main/default/flows/FINS_Service_Enablement_Referral_Milestone_Fast_Forward_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>FINS Service Enablement Measure Progress for all milestones. Fast forwards other milestones: 35/40 referrals, 70/100 calls</description>
    <environments>Default</environments>
    <interviewLabel>FINS Service - Enablement - Referral Milestone &amp; Fast Forward Progress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Service - Enablement - Referral Milestone &amp; Fast Forward Progress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cases_Milestone_Progress_Record</name>
        <label>Create Cases Milestone Progress Record</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Milestone_and_Exercise__c</field>
            <value>
                <elementReference>varMilestoneAndExerciseID_cases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Value__c</field>
            <value>
                <numberValue>69.0</numberValue>
            </value>
        </inputAssignments>
        <object>CGC_Milestone_Progress_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral_Milestone_Progress_Record</name>
        <label>Create Referral Milestone Progress Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Milestone_ID_for_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>Milestone_and_Exercise__c</field>
            <value>
                <elementReference>varMilestoneAndExerciseID_referral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Value__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <object>CGC_Milestone_Progress_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Milestone ID for the Cases Milestone</description>
        <name>Copy_1_of_Get_Milestone_ID_for_Cases</name>
        <label>Get Milestone ID for Cases</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Cases_Milestone_Progress_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_CGC_Milestone_and_Exercise.010</stringValue>
            </value>
        </filters>
        <object>CGC_Milestone_and_Exercise__c</object>
        <outputAssignments>
            <assignToReference>varMilestoneAndExerciseID_cases</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Milestone ID for the Referral Milestone</description>
        <name>Get_Milestone_ID_for_Referral</name>
        <label>Get Milestone ID for Referral</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Referral_Milestone_Progress_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_CGC_Milestone_and_Exercise.011</stringValue>
            </value>
        </filters>
        <object>CGC_Milestone_and_Exercise__c</object>
        <outputAssignments>
            <assignToReference>varMilestoneAndExerciseID_referral</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Milestone_ID_for_Referral</targetReference>
        </connector>
        <filterFormula>{!$Record.FinServ__ReferredByUser__r.External_ID__c} = &quot;User.001&quot; || {!$Record.FinServ__ReferredByUser__r.External_ID__c} = &quot;FSC_User.002&quot;</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CGC_Milestone_and_Exercise__c</objectType>
    </variables>
    <variables>
        <name>varMilestoneAndExerciseID_cases</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMilestoneAndExerciseID_referral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
