force-app/main/default/flows/FINS_Prompt_Get_Open_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Note_about_no_Open_Opportunities</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Note about no Open Opportunities</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>There are currently no open Opportunities for this Client
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Opportunity_Details_to_Prompt_Template</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Opportunity Details to Prompt Template</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Opportunity Details:{!Loop_through_every_Opportunity.Name},{!Loop_through_every_Opportunity.Amount},{!Loop_through_every_Opportunity.StageName},{!Loop_through_every_Opportunity.CloseDate},{!Loop_through_every_Opportunity.Type},{!Loop_through_every_Opportunity.Description}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_every_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Opportunities</name>
        <label>Has Opportunities?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_Note_about_no_Open_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunities Absent</defaultConnectorLabel>
        <rules>
            <name>Opportunities_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_every_Opportunity</targetReference>
            </connector>
            <label>Opportunities Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FINS Prompt - Get Open Opportunities Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Prompt - Get Open Opportunities</label>
    <loops>
        <name>Loop_through_every_Opportunity</name>
        <label>Loop through every Opportunity</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Opportunity_Details_to_Prompt_Template</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__fieldCompletion</name>
            <capabilityName>PromptTemplateType://einstein_gpt__fieldCompletion</capabilityName>
            <inputs>
                <name>RelatedEntity</name>
                <capabilityInputName>RelatedEntity</capabilityInputName>
                <dataType>SOBJECT://Account</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
</Flow>
