force-app/main/default/flows/FINS_Wealth_Demo_Account_Reset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found ?</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFinancialPlanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteFinancialGoals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichAccountName</name>
        <label>Account ?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Jennifer_Blake</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccountName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Jennifer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateFinancialPlan</targetReference>
            </connector>
            <label>Jennifer Blake</label>
        </rules>
        <rules>
            <name>Alex_Cooper</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccountName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Alex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cooper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFinancialPlan</targetReference>
            </connector>
            <label>Alex Cooper</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Wealth Demo Account Reset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wealth Demo Account Reset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deleteFinancialGoals</name>
        <label>Financial Goals</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>deleteFinancialPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialPlanId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFinancialPlanId</elementReference>
            </value>
        </filters>
        <object>FinancialGoal</object>
    </recordDeletes>
    <recordDeletes>
        <name>deleteFinancialPlan</name>
        <label>Financial Plan</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Clear_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFinancialPlanId</elementReference>
            </value>
        </filters>
        <object>FinancialPlan</object>
    </recordDeletes>
    <recordLookups>
        <name>getAccount</name>
        <label>Account</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhichAccountName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getFinancialPlan</name>
        <label>Financial Plan</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FinancialPlan</object>
        <outputAssignments>
            <assignToReference>varFinancialPlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Checkbox</name>
        <label>Clear Checkbox</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FINS_Financial_Plan_Existing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FINS_New_Financial_Plan__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateFinancialPlan</name>
        <label>Financial Plan</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Clear_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EstimatedSuccessPercent</field>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </inputAssignments>
        <object>FinancialPlan</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinancialPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
