force-app/main/default/flows/FINS_Retail_Banking_Starter_Enablement_Second_Program_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Progress_1</name>
        <label>Assign Progress</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDemoMilestoneProgress.Milestone_and_Exercise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoMilestoneProgress.Progress_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Progress_2</name>
        <label>Assign Progress</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDemoMilestoneProgress.Milestone_and_Exercise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoMilestoneProgress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Prepare_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Progress_3</name>
        <label>Assign Progress</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDemoMilestoneProgress.Milestone_and_Exercise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoMilestoneProgress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Prepare_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Collection</name>
        <label>Prepare Collection</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varDemoMilestoneProgressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDemoMilestoneProgress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Progress_Assignment</name>
        <label>Determine Progress Assignment</label>
        <locationX>660</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engage_with_50_Clients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Collection.External_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINS_CGC_Milestone_and_Exercise.004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Progress_1</targetReference>
            </connector>
            <label>Engage with 50 Clients</label>
        </rules>
        <rules>
            <name>Create_10_Referrrals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Collection.External_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINS_CGC_Milestone_and_Exercise.008</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Progress_2</targetReference>
            </connector>
            <label>Create 10 Referrrals</label>
        </rules>
        <rules>
            <name>Win_2_Deals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Collection.External_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINS_CGC_Milestone_and_Exercise.009</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Progress_3</targetReference>
            </connector>
            <label>Win 2 Deals</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FINS_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FINS Retail Banking - Enablement Second Program Progress</label>
    <loops>
        <name>Loop_Collection</name>
        <label>Loop Collection</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Milestone_and_Exercise_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Progress_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Collection_of_Demo_Milestone_Progress_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Collection_of_Demo_Milestone_Progress_Records</name>
        <label>Insert Collection of Demo Milestone Progress Records</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>varDemoMilestoneProgressCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Milestone_and_Exercise_Records</name>
        <label>Get All Milestone and Exercise Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collection</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CGC_Milestone_and_Exercise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Milestone_and_Exercise_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Called</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varDemoMilestonAndExerciseRecordID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CGC_Milestone_Progress_V2__c</objectType>
    </variables>
    <variables>
        <name>varDemoMilestoneProgress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CGC_Milestone_Progress_V2__c</objectType>
    </variables>
    <variables>
        <name>varDemoMilestoneProgressCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CGC_Milestone_Progress_V2__c</objectType>
    </variables>
</Flow>
