force-app/main/default/flows/FSC_Fraud_Investigation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignOutputVar</name>
        <label>AssignOutputVar</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Var_FraudType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fraud_type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Criminal</name>
        <choiceText>Criminal/Intentional.  Examples: stollen card, identity theft, elder abuse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Criminal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friendly</name>
        <choiceText>Friendly/Unintentional.  Example: child&apos;s use of parents card, free trial rollover, membership not cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friendly</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>FSC Fraud Investigation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSC Fraud Investigation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you for selecting {!fraud_type}.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;  Please finish this workflow to route this case to the appropriate team.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IntroScreen</name>
        <label>IntroScreen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignOutputVar</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please investigate the transaction associated with this case.  Please see below for questions to consider.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Has the customer indicated that they&apos;ve given use of their card to anyone else?&lt;/li&gt;&lt;li&gt;Are there other transactions on the card from the same vendor?&lt;/li&gt;&lt;li&gt;Does the transaction amount look different that other amounts around the same timeframe?&lt;/li&gt;&lt;li&gt;Are there other transactions in the same city/state around the same time?&lt;/li&gt;&lt;/ul&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please assess whether this is Friendly/Unintentional fraud or Criminal/Intentional Fraud.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fraud_type</name>
            <choiceReferences>Friendly</choiceReferences>
            <choiceReferences>Criminal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Based on the above questions,</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IntroScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_FraudType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
