force-app/main/default/flows/fscWlthReviewDocumentStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns DocumentRejectionStatus from the ReviewDocument subflow to the DocumentRejectionStatus text variable.</description>
        <name>SetDocumentRejectionStatus</name>
        <label>Set Document Rejection Status</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DocumentRejectedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewDocuments.DocumentRejectedStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCustomerUserName</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if all the documents uploaded by the customer are reviewed or not.</description>
        <name>WereAllDocumentsReviewed</name>
        <label>Were All Documents Reviewed?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SetDocumentRejectionStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reviewed</defaultConnectorLabel>
        <rules>
            <name>IsNotReviewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReviewDocuments.DocumentNotReviewedIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ShowDocumentDetails</targetReference>
            </connector>
            <label>Not Reviewed</label>
        </rules>
    </decisions>
    <description>Reviews the status of the documents uploaded by the customer and decides whether to create a work item for customer to again upload the rejected documents if the status of the document is Rejected.</description>
    <environments>Default</environments>
    <formulas>
        <description>Creates the Current FullName name by concatenating Current FirstName and Current LastName.</description>
        <name>CurrentFullNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(AND({!CurrentFirstName}&lt;&gt;&apos;N/A&apos;,{!CurrentLastName}&lt;&gt;&apos;N/A&apos;), {!CurrentFirstName} + &apos; &apos; + {!CurrentLastName},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Creates the New FullName name by concatenating New FirstName and New LastName.</description>
        <name>NewFullNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(AND({!NewFirstName}&lt;&gt;&apos;N/A&apos;,{!NewLastName}&lt;&gt;&apos;N/A&apos;), {!NewFirstName} + &apos; &apos; + {!NewLastName},&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>FSC Wealth: Review Document Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSC Wealth: Review Document Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the UserName from User record with a AccountId matching the AccountId that was passed into the flow.</description>
        <name>GetCustomerUserName</name>
        <label>Get Customer UserName</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CustomerUserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Shows the updated details and the documents uploaded, if any.</description>
        <name>ShowDocumentDetails</name>
        <label>Show Document Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReviewDocuments</targetReference>
        </connector>
        <fields>
            <name>ShowDocumentDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShowDocumentDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeaderSection</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Verify the Updated details with the relevant documents uploaded&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 8, 8);&quot;&gt;* Review the document to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ReviewDocuments.DocumentNotReviewedIndicator</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowDocumentDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShowDocumentDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayCurrentFullName</name>
                    <fieldText>&lt;p&gt;{!CurrentNameFormatted}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShowDocumentDetails_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayNewFullName</name>
                    <fieldText>&lt;p&gt;{!NewNameFormatted}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>flexcardcontainer</name>
            <extensionName>runtime_industries_serviceprocess:fCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flexcardName</name>
                <value>
                    <stringValue>FSCWlthUpdateProfileDocumentCheckListItems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ShowDocumentDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>A referenced flow which reviews the uploaded documents.</description>
        <name>ReviewDocuments</name>
        <label>Review Documents</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>WereAllDocumentsReviewed</targetReference>
        </connector>
        <flowName>fscWlthReviewDocument</flowName>
        <inputAssignments>
            <name>AllNewDocChecklistItemRecordIds</name>
            <value>
                <elementReference>NewDCIRecordIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <description>Stores the formatted value of Current FullName.</description>
        <name>CurrentNameFormatted</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Current Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CurrentFullNameFormula}&lt;hr style=&quot;margin-bottom: 0px ; margin-top: 0px; border-top: 1px solid lightgrey;&quot; /&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the formatted value of New FullName.</description>
        <name>NewNameFormatted</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;New Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!NewFullNameFormula}&lt;hr style=&quot;margin-bottom: 0px ; margin-top: 0px; border-top: 1px solid lightgrey;&quot; /&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Stores the value of Account Id of the service catalog request extended attribute value record that was passed into the flow.</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of Case Id of the service catalog request extended attribute value record that was passed into the flow.</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of Current First Name of the service catalog request extended attribute value record that was passed into the flow.</description>
        <name>CurrentFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the current last name of the service catalog request extended attribute value record that was passed into the flow.</description>
        <name>CurrentLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of Customer User Name associated with the Account and passes it to the Distribution Document Status flow.</description>
        <name>CustomerUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the value of DocumentRejectionStatus that indicates if the document was rejected by the agent.</description>
        <name>DocumentRejectedStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the IDs of all the New Document Checklist item records that were passed into the flow.</description>
        <name>NewDCIRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the new first name of the service catalog request extended attribute value record that was passed into the flow.</description>
        <name>NewFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of New Last Name of the service catalog request extended attribute value record that was passed into the flow.</description>
        <name>NewLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
