force-app/main/default/flows/fscWlthReviewSetupRqrMinDstr.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Gets the payment schedule details using the invocable method.</description>
        <name>GetPaymentScheduleDetails</name>
        <label>Get Payment Schedule Details</label>
        <locationX>182</locationX>
        <locationY>1034</locationY>
        <actionName>FSCWlthRequiredMinDistributionFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsAccountEmailAvailable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputRecordId</name>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSCWlthRequiredMinDistributionFlowHelper</nameSegment>
        <outputParameters>
            <assignToReference>PaymentDetails</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send an email to the user when a case is created.</description>
        <name>SendEmail</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>AccountEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your service request to Setup Required Minimum Distribution was created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the values of the fields required to send an email.</description>
        <name>AssignEmailPrerequisites</name>
        <label>Assign Email Prerequisites</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AccountEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.SvcCatalogRequest.Case.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.SvcCatalogRequest.Case.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.SvcCatalogRequest.Case.Account.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughServiceCatalogRequests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Bank Name from the current service catalog request extended attribute value record in the loop to the BankName Text variable.</description>
        <name>SetBankName</name>
        <label>Set Attribute Value</label>
        <locationX>1590</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>BankName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.TextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HavePrerequisitesToSendAnEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the financial account number from the current service catalog request extended attribute value record in the loop to the FinancialAccountNumber Text variable.</description>
        <name>SetFinancialAccountNumber</name>
        <label>Set Attribute Value</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FinancialAccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.TextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HavePrerequisitesToSendAnEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Retirement Account Name from the current service catalog request extended attribute value record in the loop to the RetirementAccountName Text variable.</description>
        <name>SetRetirementAccountName</name>
        <label>Set Attribute Value</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RetirementAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.TextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HavePrerequisitesToSendAnEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the retirement account number from the current service catalog request extended attribute value record in the loop to the RetirementAccountNumber Text variable.</description>
        <name>SetRetirementAccountNumber</name>
        <label>Set Attribute Value</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RetirementAccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.TextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HavePrerequisitesToSendAnEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Routing Number from the current service catalog request extended attribute value record in the loop to the BankRoutingNumber Text variable.</description>
        <name>SetRoutingNumber</name>
        <label>Set Attribute Value</label>
        <locationX>1326</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RoutingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.TextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HavePrerequisitesToSendAnEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Transfer Action from the current service catalog request extended attribute value record in the loop to the TransferAction Text variable.</description>
        <name>SetTransferAction</name>
        <label>Set Attribute Value</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughServiceCatalogRequests.TextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HavePrerequisitesToSendAnEmail</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the address of the header image used in the email template.</description>
        <name>HeaderImageURL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://fins-ido.s3.us-east-2.amazonaws.com/Emails/FSCWlthCaseClosureEmailTemplateImage.png</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines if the prerequisites to send an email are available or not.</description>
        <name>HavePrerequisitesToSendAnEmail</name>
        <label>Have Prerequisites To Send An Email?</label>
        <locationX>1062</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>IterateThroughServiceCatalogRequests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Prerequisites Available</defaultConnectorLabel>
        <rules>
            <name>EmailPrerequisitesUnavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PersonContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailPrerequisites</targetReference>
            </connector>
            <label>Email Prerequisites Unavailable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the email associated with the Account is available or not.</description>
        <name>IsAccountEmailAvailable</name>
        <label>Is Account Email Available?</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>Account Email Unavailable</defaultConnectorLabel>
        <rules>
            <name>AccountEmailAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail</targetReference>
            </connector>
            <label>Account Email Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which attribute is stored in the current service catalog request extended attribute value record in the loop.</description>
        <name>SetWhichAttribute</name>
        <label>Set Which Attribute?</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>HavePrerequisitesToSendAnEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other (Default)</defaultConnectorLabel>
        <rules>
            <name>isRetirementAccountNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.SvcCtlgItemAttrLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RetirementAccountNumberAttribute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRetirementAccountNumber</targetReference>
            </connector>
            <label>Retirement Account Number</label>
        </rules>
        <rules>
            <name>isRetirementlAccountName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.SvcCtlgItemAttrLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RetirementAccountNameAttribute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRetirementAccountName</targetReference>
            </connector>
            <label>Retirement Account Name</label>
        </rules>
        <rules>
            <name>isPaymentOption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.SvcCtlgItemAttrLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentMethodAttribute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTransferAction</targetReference>
            </connector>
            <label>Payment Option</label>
        </rules>
        <rules>
            <name>isFinancialAccountNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.SvcCtlgItemAttrLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FinancialAccountNumberAttribute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFinancialAccountNumber</targetReference>
            </connector>
            <label>Financial Account Number</label>
        </rules>
        <rules>
            <name>isRoutingNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.SvcCtlgItemAttrLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RoutingNumberAttribute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRoutingNumber</targetReference>
            </connector>
            <label>Routing Number</label>
        </rules>
        <rules>
            <name>IsBankName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.SvcCtlgItemAttrLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BankNameAttribute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateThroughServiceCatalogRequests.TextValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBankName</targetReference>
            </connector>
            <label>Bank Name</label>
        </rules>
    </decisions>
    <description>Allows an agent to review the required minimum distribution set up, and update the details.</description>
    <environments>Default</environments>
    <formulas>
        <description>Creates the account name by concatenating first name and last name.</description>
        <name>AccountNameFormula</name>
        <dataType>String</dataType>
        <expression>{!IterateThroughServiceCatalogRequests.SvcCatalogRequest.Case.Account.FirstName}&amp;IF(NOT(ISBLANK({!IterateThroughServiceCatalogRequests.SvcCatalogRequest.Case.Account.FirstName})),&quot; &quot;,&quot;&quot;)&amp;{!IterateThroughServiceCatalogRequests.SvcCatalogRequest.Case.Account.LastName}</expression>
    </formulas>
    <interviewLabel>FSC Wealth: Review Set Up Required Minimum Distribution Service Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSC Wealth: Review Set Up Required Minimum Distribution Service Request</label>
    <loops>
        <description>Iterates through Service Catalog Request Extended Attribute Value from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>IterateThroughServiceCatalogRequests</name>
        <label>Iterate Through Service Catalog Requests</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>GetServiceCatalogRequestExtendedAttributes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetWhichAttribute</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetPaymentScheduleDetails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the service catalog request extended attribute value records with a record Id matching the SvcCatalogRequestId that was passed into the flow. Stores the results in the Service Catalog Request Extended Attribute Value collection variable.</description>
        <name>GetServiceCatalogRequestExtendedAttributes</name>
        <label>Get Service Catalog Request Extended Attributes</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughServiceCatalogRequests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SvcCatalogRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SvcCatalogReqExtdAttrVal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetServiceCatalogRequestExtendedAttributes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Stores the body of the email that’s sent when a case is created.</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div class=&quot;base&quot; style=&quot;padding: 56px;margin: 0px;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;background-color: #F4F5F4;&quot;&gt;
&lt;div class=&quot;container&quot; style=&quot;padding: 0;margin: 8px auto;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;background-color: #FFFFFF;border-radius: 5px;width: 660px;font-size: 16px;&quot;&gt;
&lt;a href=&apos;&apos;&gt;&lt;img src=&apos;{!HeaderImageURL}&apos; width=&quot;660&quot; height=&quot;206&quot; alt=&quot;&quot; style=&quot;padding: 0;margin: 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;&quot;&gt;&lt;/a&gt;
&lt;div class=&quot;content&quot; style=&quot;padding: 32px;margin: 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;line-height: 1.5;&quot;&gt;
&lt;p class=&quot;first-text-block&quot; style=&quot;padding: 0;margin: 16px 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;margin-bottom: 40px;&quot;&gt;
Hello &lt;strong style=&quot;padding: 0;margin: 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;&quot;&gt;{!AccountName}&lt;/strong&gt;,&lt;br style=&quot;padding: 0;margin: 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;&quot;&gt;
Your service request to &lt;b&gt;setup required minimum distribution&lt;/b&gt; was created and your case number is &lt;span style=&quot;font-weight: bold;color: #000000;padding: 0;margin: 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;&quot;&gt;{!CaseNumber}&lt;/span&gt;.&lt;/p&gt;
&lt;p style=&quot;padding: 0;margin: 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;&quot;&gt;Request Summary:&lt;/p&gt; &lt;br/&gt;
&lt;table style=&quot;width: 100%;border-collapse: collapse;&quot; cellspacing=&quot;0&quot;&gt;
         &lt;tr&gt;&lt;td style=&quot;font-weight: bold;padding:6px;background-color: #F3F3F3;&quot; colspan=&quot;2&quot;&gt;Retirement Account &lt;/td&gt;&lt;/tr&gt;
                &lt;tr&gt;&lt;td style=&quot;padding: 6px;width: 30%&quot;&gt;Selected Account&lt;/td&gt;
                    &lt;td style=&quot;padding: 6px;&quot;&gt;&lt;b&gt;{!RetirementAccountNumber} - {!RetirementAccountName}&lt;/b&gt;&lt;/td&gt; &lt;/tr&gt;
                &lt;tr&gt;&lt;td colspan=&quot;2&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;
            &lt;/table&gt;
{!PaymentDetails}
&lt;p class=&quot;email-footer&quot; style=&quot;padding: 0;margin: 16px 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;margin-top: 40px;font-style: italic;&quot;&gt;
Thank you, &lt;br style=&quot;padding: 0;margin: 0;font-family: &apos;Segoe UI&apos;, Helvetica, Arial, sans-serif;&quot;&gt;
Customer Support Team
&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <description>Stores the value of Account Email of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttribute.</description>
        <name>AccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value of Account Name of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value of Bank Name of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>BankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the label ‘Bank Name’ to compare against the service catalog request extended attribute label field.</description>
        <name>BankNameAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bank Name</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value of Case Number of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttribute.</description>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value of Financial Account Number of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>FinancialAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the label Financial Account Number to compare against the service catalog request extended attribute label field.</description>
        <name>FinancialAccountNumberAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bank Account Number</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the SvcCatalogRequestId passed into the flow and is available as output from the flow.</description>
        <name>InputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the html content of payment details for the email body</description>
        <name>PaymentDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the Payment Method attribute of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>PaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the attribute name for Payment Option.</description>
        <name>PaymentMethodAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Payment Option</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value of Person Contact Id of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value of Retirement Account Name of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>RetirementAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the label Retirement Account Name to compare against the service catalog request extended attribute label field.</description>
        <name>RetirementAccountNameAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account Name</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value of the Retirement Account Number attribute of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>RetirementAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the attribute name for Retirement Account Number.</description>
        <name>RetirementAccountNumberAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account Number</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value of Retirement Account Updated of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>RetirementAccountUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of Routing Number of the service catalog request extended attribute value record from GetServiceCatalogRequestExtendedAttributes.</description>
        <name>RoutingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the label Routing Number to compare against the service catalog request extended attribute label field.</description>
        <name>RoutingNumberAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Routing Number</stringValue>
        </value>
    </variables>
</Flow>
