force-app/main/default/flows/fscWlthManageStndInstrResubmitRejectedDoc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the value true to the NewDocumentNotUploaded variable.</description>
        <name>AssignNewDocumentNotUploaded</name>
        <label>AssingnNew Document Not Uploaded</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewDocumentNotUploaded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UploadDocuments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the customer uploaded any new document or not.</description>
        <name>WasNewDocumentUploaded</name>
        <label>Was New Document Uploaded?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Document Uploaded</defaultConnectorLabel>
        <rules>
            <name>DocumentNotUploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewDocumentChecklistItemRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewDocumentNotUploaded</targetReference>
            </connector>
            <label>Document Not Uploaded</label>
        </rules>
    </decisions>
    <description>Allows the customer to resubmit the rejected documents.</description>
    <environments>Default</environments>
    <interviewLabel>FSC Wealth:Manage Standing Instruction Resubmit Rejected Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSC Wealth:Manage Standing Instruction Resubmit Rejected Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieves Document checklist item records with status as New.</description>
        <name>GetNewDocumentChecklistItemRecords</name>
        <label>Get New Document Checklist Item Records</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WasNewDocumentUploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Displays the option to upload documents.</description>
        <name>UploadDocuments</name>
        <label>Upload Documents</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetNewDocumentChecklistItemRecords</targetReference>
        </connector>
        <fields>
            <name>UploadDocuments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UploadDocuments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DocumentNotUploadedValidation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*Please upload a file and click &apos;Finish&apos;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewDocumentNotUploaded</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UploadFiles</name>
            <extensionName>runtime_industries_serviceprocess:fCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flexcardName</name>
                <value>
                    <stringValue>FSCWlthManageStandingInstructionUploadFile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UploadDocuments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the value of Case Id of the service catalog request extended attribute value record that was passed into the flow.</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the New Document Not Uploaded catalog request extended attribute value record that was passed into the flow.</description>
        <name>NewDocumentNotUploaded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
