force-app/main/default/flows/Insto_Client_Summary_with_Insights.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ANZ_Knowledge_with_Anaswers</name>
        <label>ANZ Knowledge with Answers</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>ANZ_Articles</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Final_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Query</name>
            <value>
                <elementReference>formula_query</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:RetrieverIdOrName</name>
            <value>
                <stringValue>Default_ANZ_websites_articles_Retriever_1Cx_WVt8588bbf6</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ANZ_Articles</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>output_knowledgeAnswer</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Final_Summary</name>
        <label>Final Summary</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>Final_Insto_Client_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Insto_Client_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account_Record</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Knowlege_Answer</name>
            <value>
                <elementReference>output_knowledgeAnswer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Final_Insto_Client_Summary</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>finalSummary</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Insto_Client_Summary_Generation_Prompt</name>
        <label>Insto Client Summary Generation Prompt</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>Insto_Client_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>ANZ_Knowledge_with_Anaswers</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Insto_Client_Summary</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>output_interactionSummary</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>formula_query</name>
        <dataType>String</dataType>
        <expression>&quot;Give relevant URLs and details based on &quot; &amp; {!output_interactionSummary}</expression>
    </formulas>
    <interviewLabel>Insto Client Summary with Insights {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insto Client Summary with Insights</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insto_Client_Summary_Generation_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_accRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Field</name>
        <label>Update Account Field</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_accRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Interaction_Summary__c</field>
            <value>
                <elementReference>finalSummary</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Insto_Client_Summary</name>
        <label>Insto Client Summary</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account_Field</targetReference>
        </connector>
        <fields>
            <name>finalInstoSummary</name>
            <extensionName>c:sdoSalesGptRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>visibleLines</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldValue</name>
                <value>
                    <elementReference>finalSummary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Next</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Generate Summary</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>finalSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_accRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_interactionSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_knowledgeAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
