force-app/main/default/flows/Service_Innovation_EI_Plumbing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Vignette_2_or_4</name>
        <label>Vignette 2 or 4?</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Voice_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_VC.RelatedRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EI_for_VC</targetReference>
            </connector>
            <label>Voice Call</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_MS.Case.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EI_for_MS</targetReference>
            </connector>
            <label>Messaging Session</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_should_I_update</name>
        <label>What should I update?</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fee_Reversal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee Reversal Service Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case</targetReference>
            </connector>
            <label>Fee Reversal</label>
        </rules>
        <rules>
            <name>Address_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Address Update Service Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_AC</targetReference>
            </connector>
            <label>Address Change</label>
        </rules>
        <rules>
            <name>Transaction_Dispute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transaction Dispute Service Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_entitlement</targetReference>
            </connector>
            <label>Transaction Dispute</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Innovation - EI Plumbing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Innovation - EI Plumbing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EI</name>
        <label>Create EI</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_EI</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunicationChannel</field>
            <value>
                <stringValue>Chatbot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Title__c</field>
            <value>
                <stringValue>Self Service Guided Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Friendly_URL_Text__c</field>
            <value>
                <stringValue>Service Process Studio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Self-Service Chatbot</stringValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EI_for_MS</name>
        <label>Create EI for MS</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Add_GPT_to_MS_EI</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunicationChannel</field>
            <value>
                <stringValue>Chatbot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Title__c</field>
            <value>
                <stringValue>Live Agent Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Friendly_URL_Text__c</field>
            <value>
                <stringValue>Transferred to Live Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Live Agent Messaging</stringValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EI_for_Tran_Dispute</name>
        <label>Create EI for Tran Dispute</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_TD_EI_with_GPT</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunicationChannel</field>
            <value>
                <stringValue>Chatbot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Friendly_URL_Text__c</field>
            <value>
                <stringValue>Self Service Guided Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Self-Service Chatbot</stringValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EI_for_VC</name>
        <label>Create EI for VC</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Add_GPT_to_VC_EI</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunicationChannel</field>
            <value>
                <stringValue>Voice Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Title__c</field>
            <value>
                <stringValue>Voice Call with Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Friendly_URL_Text__c</field>
            <value>
                <stringValue>Voice Call with Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Demo_VC</name>
        <label>Get Demo VC</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_MS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_entitlement</name>
        <label>get entitlement</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_with_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Innovation - Transaction Dispute</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_MS</name>
        <label>Get Last MS</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_should_I_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>add_EI_to_case</name>
        <label>add EI to case</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_GPT_to_MS_EI</name>
        <label>Add GPT to MS EI</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Case_with_MS_EI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vignette2</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI_for_MS</elementReference>
            </value>
        </inputAssignments>
        <object>EinsteinGPT_Summary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_GPT_to_VC_EI</name>
        <label>Add GPT to VC EI</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Case_with_EI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vignette4</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI_for_VC</elementReference>
            </value>
        </inputAssignments>
        <object>EinsteinGPT_Summary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_box_for_NBA</name>
        <label>Check box for NBA</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_MS.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Vignette_2_or_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_AC</name>
        <label>Update Case AC</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_EI</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_EI</name>
        <label>Update Case with EI</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI_for_VC</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_Entitlement</name>
        <label>Update Case with Entitlement</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Create_EI_for_Tran_Dispute</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>get_entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_MS_EI</name>
        <label>Update Case with MS EI</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Check_box_for_NBA</targetReference>
        </connector>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI_for_MS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_TD_EI</name>
        <label>Update Case with TD EI</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI_for_Tran_Dispute</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EI</name>
        <label>Add GPT to EI</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>add_EI_to_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vignette1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI</elementReference>
            </value>
        </inputAssignments>
        <object>EinsteinGPT_Summary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TD_EI_with_GPT</name>
        <label>Update TD EI with GPT</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Case_with_TD_EI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vignette3</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
            <value>
                <elementReference>Create_EI_for_Tran_Dispute</elementReference>
            </value>
        </inputAssignments>
        <object>EinsteinGPT_Summary__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Demo_VC</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Ready_for_EI_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Address Update Service Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction Dispute Service Request</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>owneridvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
