force-app/main/default/flows/service_innovation_demo_reset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_vignette</name>
        <label>Which vignette</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vignette_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rachel_Lead.FinServ__ReferredByUser__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_referrer</targetReference>
            </connector>
            <label>Vignette 2</label>
        </rules>
        <rules>
            <name>Other_Vignette</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rachel_Lead.FinServ__ReferredByUser__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>end</targetReference>
            </connector>
            <label>Other VIgnette</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>service innovation demo reset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>service innovation demo reset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>delete_attendees</name>
        <label>delete attendees</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>delete_interactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2023-05-15T07:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>EngagementAttendee</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Cases</name>
        <label>Delete Cases</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Rachel_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2023-05-15T07:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordDeletes>
        <name>delete_interactions</name>
        <label>delete interactions</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Remove_EI_from_GPT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2023-05-15T07:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>EngagementInteraction</object>
    </recordDeletes>
    <recordDeletes>
        <name>delete_messaging_session</name>
        <label>delete messaging session</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>end</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <object>MessagingSession</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Rachel_Lead</name>
        <label>Get Rachel Lead</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_vignette</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSC_Lead.101</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>change_referrer</name>
        <label>change referrer</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>delete_messaging_session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rachel_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinServ__ReferredByUser__c</field>
            <value>
                <elementReference>Get_Rachel_Lead.FINS_Assigned_To__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_EI_from_GPT</name>
        <label>Remove EI from GPT</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Delete_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement_Interaction__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost Card</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Interaction__c</field>
        </inputAssignments>
        <object>EinsteinGPT_Summary__c</object>
    </recordUpdates>
    <screens>
        <name>COnfirm</name>
        <label>COnfirm</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>delete_attendees</targetReference>
        </connector>
        <fields>
            <name>warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;WARNING -&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; You must complete an ENTIRE click path of a vignette before launching the reset flow or this flow will error out!&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>end</name>
        <label>end</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>shrek</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://244-nxg-service-innovation.file.force.com/sfc/servlet.shepherd/version/download/0684S000004OWFx?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;shrek.jpeg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COnfirm</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
